<%#
# Author: Nicolas Meylan
# Date: 15 déc. 2012
# Encoding: UTF-8
# File: _flash.html.erb
%>
<div id="flash">
    <span class="flash notice" style="display: none">
      <%= raw notice %>
      <%= content_tag :span, nil, {class: 'octicon octicon-x close_flash'} %>
    </span>
    <span class="flash alert" style="display: none">
      <%= raw alert %>
      <%= content_tag :span, nil, {class: 'octicon octicon-x close_flash'} %>
    </span>
</div>