<%#
# Author: Nicolas Meylan
# Date: 15 déc. 2012
# Encoding: UTF-8
# File: _flash.html.erb
%>
<div id="flash">
<p class="flash notice" style="display: none"><%= raw notice%></p>
<p class="flash alert" style="display: none"><%= raw  alert%></p>

</div>