<%#
Author : Nicolas Meylan
Date: 30 août 2013 
Encoding: UTF-8
File: my_assigned_requests
%>

<%= render :partial => 'profiles/sidebar' %>
<%= contextual t(:link_my_assigned_requests) %>
<% if issues %>
    <div class="my">
      <%= issues.display_simple_list %>
    </div>
<% else %>
<% end %>