<%#
# Author: Nicolas Meylan
# Date: 05 oct. 2013
# Encoding: UTF-8
# File: spent_time.erb
%>
<%= render :partial => 'profiles/sidebar' %>
<%= contextual t(:label_calendar) %>
<div id="spent_time">
  <div id="calendar">
    <%= render :partial => 'profiles/calendar' %>
  </div>
</div>