<%#
Author : Nicolas Meylan
Date: 30 août 2013 
Encoding: UTF-8
File: my_assigned_requests
%>

<%= render :partial => 'profiles/sidebar' %>
<%= contextual t(:link_my_submited_requests) %>
<% if issues %>
    <div class="my">
      <div id="issues_content">
        <%= issues.display_simple_list %>
      </div>
    </div>
<% else %>
<% end %>