<%#
# Author: Nicolas Meylan
# Date: 16 mars 2013
# Encoding: UTF-8
# File: calendar.html.erb
%>
<%= contextual t(:label_calendar) %>

<div id="calendar">
  <%= render :partial => 'roadmap/calendar' %>
</div>


