<%#=
 * User: nmeylan
 * Date: 27.07.14
 * Time: 17:04
%>
<%= content_tag :div, {id: 'comment_block'} do %>
    <div class="separator"></div>
    <h2><%= glyph(t(:link_comment), 'x') %></h2>
    <%= content_tag :div, class: 'box' do %>
        <%= post_comment_form(model) %>
    <% end %>
<% end %>