<%#=
 * User: nmeylan
 * Date: 27.07.14
 * Time: 17:04
%>
<%= content_tag :div, {id: 'add-comment-form'} do %>
    <div class="separator"></div>
    <h2 id="add-comment"><%= glyph(t(:link_comment), 'x') %></h2>
    <%= post_comment_form(model) %>
<% end %>