<%#
# Author: Nicolas Meylan
# Date: 11 nov. 2012
# Encoding: UTF-8
# File: _attachments.html.erb
%>

<div class="attachments">
  <% new_or_existing = attachments.new_record? ? 'new' : 'existing' %>
  <% prefix = "issue[#{new_or_existing}_attachment_attributes][]" %>
  <%= fields_for prefix, attachments do |attachment_form| -%>
    <p>
      <% if attachments.new_record? %>
        <%= attachment_form.file_field :file %>
      <% else %>
        <% if attachments.file_content_type.include?('image')  %>
          <%= image_tag attachments.file.url(:thumb) %>
        <% else %>
          <%= link_to glyph(attachments.file_file_name, attachments.icon_type),{}, {} %>
        <% end %>
      <% end %>
    </p>
  <% end -%>
</div>