<%#
# Author: Nicolas Meylan
# Date: 13 août 2012
# Encoding: UTF-8
# File: _show_checklist.erb
%>
<div class="overlayOuter" id="checklist_overlay">
  <div class="overlayInner">
    <ul class="checklist" id="items">
        <%= render :partial => "issues/checklist_items", :locals => {:checklist_items => checklist_items} %>
    </ul>
  </div>
</div>