<%#
# Author: Nicolas Meylan
# Date: 13 août 2012
# Encoding: UTF-8
# File: _show_checklist.erb
%>
<% @checklist_items.sort!{|x,y| x.position <=> y.position}.each do |item| %>
  <li class="<%=item.enumeration.name.downcase%>"><%= item.name %></li>
<% end %>