<%#=
 * User: nmeylan
 * Date: 12.09.14
 * Time: 20:07
%>

<% journal = @notification.trigger.decorate %>
<% model = @notification.model %>
<% if journal.action_type.eql?(Journal::ACTION_UPDATE) %>
    <%= render partial: 'journal_update', locals: {journal: journal, model: model} %>
<% elsif journal.action_type.eql?(Journal::ACTION_CREATE) %>
    <%= render partial: 'journal_create', locals: {journal: journal, model: model} %>

<% end %>


<p>You have been notified by RORganize. If you don't want to receive these kind of notifications anymore,
  <%= link_to 'click here', url_for(controller: 'profiles', action: 'show', only_path: false) %>.</p>