<%#=
 * User: nmeylan
 * Date: 28.07.14
 * Time: 06:48
 %>
if ($('#history-blocks').length == 0) {
    $('#history').append('<div id="history-blocks"></div>');
}
on_append_effect('#history-blocks', "<%= escape_javascript(comment_block_render(@comment, nil, false)) %>");

$('#add-comment-form').fadeOut();