<%#
# Author: Nicolas Meylan
# Date: 8 juil. 2012
# Encoding: UTF-8
# File: 404.html.erb
%>

<!DOCTYPE html>
<html>
<head>
  <title>The page you were looking for doesn't exist (404)</title>
</head>

<body>
<!-- This file lives in public/404.html -->
<div class="dialog">
  <h1>You don't have permission to access to this page, or to do this
    action.</h1>

  <p></p>
  <%= link_to 'Back', :back %>
</div>
</body>
</html>
