<%#
# Author: Nicolas Meylan
# Date: 29 sept. 2012
# Encoding: UTF-8
# File: index.html.erb
%>

<%= contextual t(:label_users) do %>
    <%= link_to_with_permissions(glyph(t(:link_new_user), 'plus'), new_user_path, nil,{}) %>
 <% end %>

<% if @users.any? %>
  <%= render :partial => 'users/list' %>
<% else %>
  <h2><%= t(:text_no_data) %></h2>
<% end %>