<%#
# Author: Nicolas Meylan
# Date: 29 sept. 2012
# Encoding: UTF-8
# File: index.html.erb
%>

<%= contextual t(:label_users) do %>
    <%= @users.new_link %>
 <% end %>

<% if @users.any? %>
  <%= render :partial => 'users/list' %>
<% else %>
  <h2><%= t(:text_no_data) %></h2>
<% end %>