<%#
# Author: Nicolas Meylan
# Date: 29 sept. 2012
# Encoding: UTF-8
# File: index.html.erb
%>

<div class="contextual">
  <h1><%= t(:label_users) %></h1>
  <div class="splitcontentright">
    <%= link_to t(:link_new_user), {:controller => 'users', :action => 'new'}, {:class => 'icon icon-add'} if current_user.allowed_to?('new','users') %>
  </div>
</div>

<% if @users.any? %>
<%= render :partial => 'users/list' %>
<% else %>
<h2><%= t(:text_no_data) %></h2>
<% end %>