<%#
# Author: Nicolas Meylan
# Date: 29 sept. 2012
# Encoding: UTF-8
# File: index.html.erb
%>

<div class="contextual">
  <h1><%= t(:label_users) %></h1>
  <div class="splitcontentright">
    <%= link_to_with_permissions(
      t(:link_new_user), 
      new_user_path, 
      nil, 
      {:html => {:class => 'icon icon-add'}}) %>
  </div>
</div>

<% if @users.any? %>
  <%= render :partial => 'users/list' %>
<% else %>
  <h2><%= t(:text_no_data) %></h2>
<% end %>