$default-background-color: #fff;
$default-color: #484848;
$default-smooth-color: #808080;
$default-border-color: #e5e5e5;
$default-hover-border-color: #d4d4d4;
$default-selected-border-color: #d26911;
$default-font-size: 14px;
$default-red-color: #bd2c00;
//Title
$default-h1-color: #484848;
$default-h2-color: #484848;
//Box
$default-box-header-color: #3a505b;
$default-box-header-background-color: #e6f1f6;
//Table
$default-table-head-background-color: #f5f5f5;
$default-table-tr-hover-background-color: #fcfce2;
$default-table-tr-odd-background-color: rgba(230, 241, 246, 0.40);
//Link
$link-hover-color: #484848;
$link-selected-color: #d26911;
$link-color: #4183c4;
$link-tabs-color: #888;
$link-font-size: 13px;

$top-menu-background-color: #f3f3f3;

$header-background-color: #fff;
//Overlay
$overlay-background-color: #fff;
$overlay-box-shadow: 0px 3px 7px #333;
$overlay-border-radius: 4px;

//activities
$activity-color: #d4d4d4;
$activity-color-hover: #484848;
$activity-color-collapsed: #484848;


$combobox-hover: #4183c4;