<%#=
 * User: nmeylan
 * Date: 24.07.14
 * Time: 09:43
%>

<%= content_for :sidebar do %>
    <h2><%= t(:label_activities) %></h2>
    <%= sidebar_types_selection(types, selected_types, selected_period, selected_date) %>
<% end %>