<%#
# Author: Nicolas Meylan
# Date: 11 nov. 2012
# Encoding: UTF-8
# File: _attachments.html.erb
%>
<% if attachments.new_record? %>
    <div class="attachments" id="<%= attachments.id %>">
      <% new_or_existing = attachments.new_record? ? 'new' : 'existing' %>
      <% prefix = "#{type}[#{new_or_existing}_attachment_attributes][]" %>
      <%= fields_for prefix, attachments do |attachment_form| -%>
          <p>

            <%= attachment_form.file_field :file %>
            <%= link_to glyph(t(:link_delete), 'trashcan'), '#', {class: 'remove_attachment_field_link'} %>
          </p>
      <% end -%>
    </div>
<% end %>