<%#
# Author: Nicolas Meylan
# Date: 5 févr. 2013
# Encoding: UTF-8
# File: _custom_queries.erb
%>

<% if custom_queries_decorator && custom_queries_decorator.to_a.any? && User.current.allowed_to?('apply_custom_query', controller_name, project) %>
    <h2><%= t(:label_queries) %></h2>
    <ul>
      <% custom_queries_decorator.each do |query| %>
          <li>
            <%= link_to query.caption, {action: 'apply_custom_query',
                                                    query_id: query.slug,
                                                    controller: controller_name,
                                                    project_id: project.slug},
                        {class: "#{'selected' if selected_query && query.id.eql?(selected_query.id)}"} %>
          </li>
      <% end %>
    </ul>
<% end %>