<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title" id="dynamic-modal-label"><%= title %></h4>
</div>
<div class="modal-body" data-role="modal-body">
  <%= yield if block_given? %>
</div>