<div class="modal fade" id="dynamic-modal" tabindex="-1" role="dialog" data-behaviour="dynamic-modal">
  <div class="modal-dialog">
    <div class="modal-content" data-role="modal-content">
    </div>
  </div>
</div>