<%#
# Author: Nicolas Meylan
# Date: 13 nov. 2012
# Encoding: UTF-8
# File: _show_attachments.erb
%>
<% if attachments.any? %>
    <% no_header ||= false %>
    <% unless no_header %>
        <div class="separator"></div>
        <h2><%= t(:field_attachments) %> :</h2>
    <% end %>
    <table>
      <% images = attachments.select { |attachment| !attachment.file_content_type.nil? && !attachment.file_content_type.match(/\Aimage/).nil? } %>
      <% non_images = attachments.select { |attachment| !attachment.file_content_type.nil? && attachment.file_content_type.match(/\Aimage/).nil? }.sort { |x, y| x.file_content_type <=> y.file_content_type } %>
      <% images.each do |attachment| %>
          <%= render partial: 'shared/attachment', locals: {object: object, attachment: attachment} %>
      <% end %>
      <% non_images.each do |attachment| %>
          <%= render partial: 'shared/attachment', locals: {object: object, attachment: attachment} %>
      <% end %>
    </table>
<% end %>