<%#
# Author: Nicolas Meylan
# Date: 6 avr. 2013
# Encoding: UTF-8
# File: _list.html.erb
%>

<div id="documents_content">
  <%= @documents.display_collection  %>


  <ul id="documents_toolbox" class="jeegoocontext box toolbox">
    <% if @documents_toolbox %>
      <%= render :partial => 'documents/toolbox' %>
    <% end %>
  </ul>
  <%= render :partial => 'documents/delete_overlay', :locals => {:documents => @documents_toolbox} %>
</div>
