<%#
# Author: Nicolas Meylan
# Date: 15 août 2012
# Encoding: UTF-8
# File: sidebar.html.erb
%>

<%= content_for :sidebar do %>
    <h2><%= t(:label_documents) %></h2>
    <ul>
      <li><%= link_to t(:link_view_all)+' '+t(:label_documents), documents_path(project.slug, type: :all, commit: :Apply) %></li>
    </ul>
    <div id="custom-queries">
      <% if User.current.allowed_to?('apply_custom_query', 'documents', project) %>
          <%= render partial: 'shared/custom_queries', locals: {custom_queries_decorator: custom_queries_decorator, project: project} %>
      <% end %>
    </div>

<% end %>

