<%#
# Author: Nicolas Meylan
# Date: 6 avr. 2013
# Encoding: UTF-8
# File: index.html.erb
%>

<div class="contextual">
  <h1><%= t(:label_documents) %></h1>
  <div class="splitcontentright">
    <%= link_to_with_permissions(t(:link_new_document), new_document_path(@project.slug), @project, {:html => {:class => 'icon icon-add'}}) %>
  </div>
</div>
<%= render :partial => 'documents/filter' %>
<%= render :partial => 'documents/list' %>