<%#
# Author: Nicolas Meylan
# Date: 1 juil. 2012
# Encoding: UTF-8
# File: index.html.erb
#Projects list
%>
<div class="contextual">
  <h1><%= t(:label_project_plural) %></h1>
  <div class="splitcontentright">
    <%= link_to_with_permissions(
      t(:link_new_permission), new_project_path, nil, {:method => :get, :html => {:class => 'icon icon-add'}}) %>
  </div>
  <div style="clear:both;"></div>
</div>

<%= render :partial => "projects/list", :locals => {:allow_to_star => false, :members => @members}  %>
