<%#
# Author: Nicolas Meylan
# Date: 1 juil. 2012
# Encoding: UTF-8
# File: index.html.erb
#Projects list
%>
<div class="contextual">
  <h1><%= t(:label_project_plural) %></h1>
  <div class="splitcontentright">
    <% if current_user.allowed_to?('new','Project') %>
      <%= link_to t(:link_new_project), {:action => 'new', :controller => 'project'}, {:class => 'icon icon-add'} %>
    <% end %>
  </div>
  <div style="clear:both;"></div>
</div>

<%= render :partial => "projects/list", :locals => {:allow_to_star => false}  %>
