<%#
# Author: Nicolas Meylan
# Date: 1 juil. 2012
# Encoding: UTF-8
# File: new.erb
%>
<div class="contextual">
  <h1><%= t(:link_new_project) %></h1>
</div>
<%= render :partial => 'projects/form' %>
