<%#
# Author: Nicolas Meylan
# Date: 12 oct. 2012
# Encoding: UTF-8
# File: index.html.erb
%>

<%= contextual t(:link_permissions) %>

<%= t(:text_choose_role) %>:

<ul>
  <% @roles.each do |role| %>
      <li>
        <% if User.current.allowed_to?('list', 'Permissions') %>
            <%= link_to role.name, list_permissions_path(role.name.tr(' ', '_')) %>
        <% else %>
            <%= role.name %>
        <% end %>
      </li>
  <% end %>
</ul>