<%#
# Author: Nicolas Meylan
# Date: 8 mai 2013
# Encoding: UTF-8
# File: index.html.erb
%>

<%= contextual t(:link_coworkers) %>

<div class="splitcontentleft">
  <%= render :partial => 'coworkers/list' %>
</div>
<div class="splitcontentright">
  <h2><%= t(:label_activities) %></h2>
  <%= render :partial => 'coworkers/activities', :locals => {:activities => nil}%>
</div>
<div style="clear:both"></div>
