<%#
# Author: Nicolas Meylan
# Date: 25 août 2012
# Encoding: UTF-8
# File: _activity_overlay.html.erb
%>


<div class="overlayOuter" id="activity_overlay">
  <div class="overlayInner">
    <div id="issue_history">
      <%= render :partial => 'project/activity_history' %>
    </div>
  </div>
</div>
