<div class="overlayOuter" id="spent-time-overlay">
  <div class="overlayInner">
    <div id="spent-time-overlay-content">
      <div id="spent-time-overlay-form">
        <% if time_entry %>
            <%= render partial: 'time_entries/log_issue_spent_time_form', locals: {time_entry: time_entry} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
