<%#=
 * User: nmeylan
 * Date: 23.08.14
 * Time: 20:56
%>

<%= contextual t(:home) %>
<h1>What is RORganize?</h1>
<p>RORganize is an easy to use project management application. Running on the latest Ruby on Rails framework with the latest Ruby version.</p>
<p>RORganize is <a href="https://github.com/nmeylan/RORganize">open source</a> and released under <a href="http://choosealicense.com/licenses/mit/">MIT license</a>.</p>

<h1>What can I do with this application?</h1>
<p>RORganize offers a lots of features. Here are the mains features : </p>
<ul>
  <li>Bugs and issues tracking.</li>
  <li>Easy to use filters system.</li>
  <li>Filters can be shared.</li>
  <li>Flexible permissions and roles management.</li>
  <li>Wiki for each project.</li>
  <li>Module management : you can define which feature you want to use for each projects.</li>
  <li>Clear projects/users activity browser.</li>
  <li>Documents sharing.</li>
  <li>Time logging.</li>
  <li>Effective Gantt generation.</li>
  <li>And more in progress...</li>
</ul>

<h1>Documentation</h1>
<p>For the moments there are not lots of documentations to run RORganize, but you can find the basis <a href="https://github.com/nmeylan/RORganize/wiki">here</a>.</p>

<h1>About the development</h1>
<p>RORganize is developed by me, <a href="https://github.com/nmeylan">Nicolas Meylan</a> since 2012. I'm a 22 years old student and add features to RORganize during my free time.</p>
<p>During the development I try to follow the new versions of the framework, even if I have to rewrite some code to make it compatible. I try to follow Rails and Ruby best practices and OO generals' concepts. </p>
<p>I take a lots of time to refactor some old code to make it cleaner and to add features more easily. I read a lots of article on <a href="http://blog.codeclimate.com/">Code Climate's blog</a> or on <a href="http://martinfowler.com/design.html"> Martin Fowler's blog</a> and on <a href="https://github.com/rails/rails/commits/master">Rails commits</a></p>

<h1>Support</h1>
<p>If you find bugs or want a feature to be added please write an <a href="https://github.com/nmeylan/RORganize/issues/new">issue</a>. </p>