<%#=
 * User: nmeylan
 * Date: 01.09.14
 * Time: 20:02
%>
<%= contextual "#{t(:text_welcome)} #{User.current.caption}" %>
<div class="splitcontentleft small">
  <%= projects.display_collection  %>
</div>

<div class="splitcontentright large">
  <%= display_overview_groups(overview_object_submitted.content, 'Opened submitted issues', 'Project') %>
  <%= display_overview_groups(overview_object_assigned.content, 'Opened assigned issues', 'Project') %>
</div>