<%#
# Author: Nicolas Meylan
# Date: 23 oct. 2012
# Encoding: UTF-8
# File: _list.html.erb
%>

<div id="roles_content">
  <table class="role list">
    <tr class="header">
      <th>Name</th>
      <th></th>
    </tr>
    <% @roles.each do |role| %>
      <tr class="odd_even" id="<%= role.id %>">
        <td class="list_left name"><% if current_user.allowed_to?('edit','Roles') %>
            <%= link_to role.name, edit_role_path(role.id)%>
          <% else %>
            <%= role.name %>
          <% end %>
        </td>
        <td class="action">
          <%= link_to_with_permissions(t(:link_delete), 
            role_path(role.id), 
            nil,
            {:method => :delete, :class => 'icon icon-del', :remote => true, :confirm => t(:text_delete_item ) }) %>
      </tr>
    <%end%>
  </table>
</div>
