<%#
# Author: Nicolas Meylan
# Date: 23 oct. 2012
# Encoding: UTF-8
# File: index.html.erb
%>

<div class="contextual">
  <h1><%= t(:link_roles) %></h1>
  <div class="splitcontentright">
    <%= link_to_with_permissions(glyph(t(:link_new_role), 'plus'), new_role_path,  nil, {}) %>
    </div>
</div>

<%= render :partial => 'roles/list' %>
