<%#
# Author: Nicolas Meylan
# Date: 23 oct. 2012
# Encoding: UTF-8
# File: index.html.erb
%>

<div class="contextual">
  <h1><%= t(:link_roles) %></h1>
  <div class="splitcontentright">
    <%= link_to t(:link_new_role), {:action => 'new'}, {:class => 'icon icon-add'} if current_user.allowed_to?('new','Roles') %>
  </div>
</div>

<%= render :partial => 'roles/list' %>
