<%#
# Author: Nicolas Meylan
# Date: 23 oct. 2012
# Encoding: UTF-8
# File: new.html.erb
%>

<div class="contextual">
  <h1><%= t(:link_new_role)%></h1>
</div>

<%= form_for @role, :url => {:controller => 'roles'}, :html => {:class => 'form'} do |f|%>
  <%= render :partial => 'roles/form', :locals => {:f => f} %>
  <%= submit_tag t(:button_create) %>
<% end %>