@import 'utilities/_variables';

#activities {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  .activities_range{
    color: $default-smooth-color;
    font-style: italic;
    span{
      color: $default-color;
      font-weight: bold;
    }
  }

}
#activities:before{
  display: block;
  content: "";
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 50%;
  width: 10px;
  background-color: #f3f3f3;
  z-index: -1;
}

#activities_filter {
  #date {
    float: left;
  }
  #period_select{
    float: right;
    margin-right: 40px;
    margin-top: -2px;
  }
}

.activities {
  width: 100%;
  overflow-x: hidden;
  .date_circle {
    cursor: pointer;
    position: relative;
    /* Firefox */
    left: -moz-calc(50% - 97px);
    /* WebKit */
    left: -webkit-calc(50% - 97px);
    /* Opera */
    left: -o-calc(50% - 97px);
    /* Standard */
    left: calc(50% - 97px);
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid $activity-color;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    background: $activity-color;
    .inner_circle {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      font-size: 20px;
      color: $default-color;
      text-align: center;
      line-height: 40px;
      vertical-align: middle;
      text-decoration: none;
      background: $default-background-color;
      position: absolute;
      margin-top: 20px;
      margin-left: 20px;
      p {
        padding-top: 50px;
      }
    }
  }
  .date_circle:hover {
    background-color: $activity-color-hover;
    border: 1px solid $activity-color-hover;
  }
  .date_circle.collasped_circle {
    background-color: $activity-color-collapsed;
    border: 1px solid $activity-color-collapsed;
  }
  .activity {
    position: relative;
    clear: both;
    overflow-y: hidden;
    margin-bottom: 10px;

    a.toggle {
      font-size: 11px;
    }
    span.author {
      font-weight: bold;
      margin-right: 5px;
    }
    span.action_type, span.object_type {
      margin-right: 5px;
    }
    span.date {
      font-style: italic;
    }
    div.journal_details {
      color: $default-smooth-color;
      font-size: 13px;
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline-block;
        li{
          text-align: left;
        }
      }
    }
    div.journal_details.more.hide {
      display: none;
    }
    div.detail.more {
      margin: 10px 0px 20px 0px !important;
      span.author{
        color: $default-color;
        vertical-align: top;
      }
      span.comment{
        display: block;
      }
    }
  }
  .activity.odd {
    float: left;
    text-align: right;
    /* Firefox */
    width: -moz-calc(50% + 29px);
    /* WebKit */
    width: -webkit-calc(50% + 29px);
    /* Opera */
    width: -o-calc(50% + 29px);
    /* Standard */
    width: calc(50% + 29px);

    p, div, a.toggle {
      margin-right: 45px !important;
      span.date {
        float: right;
        margin-left: 5px;
      }
    }
    .activity_icon{
      right: 0%;
    }

  }
  .activity.even {
    float: right;
    text-align: left;
    /* Firefox */
    width: -moz-calc(50% + 13px);
    /* WebKit */
    width: -webkit-calc(50% + 13px);
    /* Opera */
    width: -o-calc(50% + 13px);
    /* Standard */
    width: calc(50% + 13px);
    p, div, a.toggle {
      margin-left: 45px !important;
      span.date {
        float: left;
        margin-right: 5px;
      }
    }
    .activity_icon{
      left: 0%;
    }
  }
}