@import 'utilities/_variables';
#activities {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  .activities_range{
    color: $default-smooth-color;
    font-style: italic;
    span{
      color: $default-color;
      font-weight: bold;
    }
  }
}

#activities_filter {
  #date {
    float: left;
  }
  #period_select{
    float: right;
    margin-right: 40px;
    margin-top: -2px;
  }
}

.activities {
  width: 100%;
  overflow-x: hidden;
  .date_circle {
    cursor: pointer;
    float: left;
    position: relative;
    /* Firefox */
    left: -moz-calc(50% - 100px);
    /* WebKit */
    left: -webkit-calc(50% - 100px);
    /* Opera */
    left: -o-calc(50% - 100px);
    /* Standard */
    left: calc(50% - 100px);
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid $activity-color;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    background: $activity-color;
    .inner_circle {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      font-size: 20px;
      color: $default-color;
      text-align: center;
      line-height: 40px;
      vertical-align: middle;
      text-decoration: none;
      background: $default-background-color;
      position: absolute;
      margin-top: 20px;
      margin-left: 20px;
      p {
        padding-top: 50px;
      }
    }
  }
  .date_circle:hover {
    background-color: $activity-color-hover;
    border: 1px solid $activity-color-hover;
  }
  .date_circle.collasped_circle {
    background-color: $activity-color-collapsed;
    border: 1px solid $activity-color-collapsed;
  }
  .activity {
    position: relative;
    clear: both;
    overflow-y: hidden;
    width: 50%;

    a.toggle {
      font-size: 11px;
    }
    span.author {
      font-weight: bold;
      margin-right: 5px;
    }
    span.action_type, span.object_type {
      margin-right: 5px;
    }
    span.date {
      font-style: italic;
    }
    div.journal_details {
      color: $default-smooth-color;
      font-size: 13px;
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
    }
    div.journal_details.more.hide {
      display: none;
    }
    div.detail.more {
      margin: 0px 0px 10px 0px !important;
      span.author{
        color: $default-color;
      }
    }
  }
  div.journals.hover .activity.odd {
    border-right: 10px solid $activity-color-hover;
  }
  div.journals.hover .activity.even {
    border-left: 10px solid $activity-color-hover;
  }
  .activity.odd {
    float: left;
    text-align: right;
    border-right: 10px solid $activity-color;

    margin-left: -3px;
    p, div, a.toggle {
      margin-right: 20px !important;
      span.date {
        float: right;
        margin-left: 5px;
      }
    }

  }
  .activity.even {
    float: right;
    text-align: left;
    border-left: 10px solid $activity-color;
    margin-right: -7px;
    p, div, a.toggle {
      margin-left: 20px !important;
      span.date {
        float: left;
        margin-right: 5px;
      }
    }
  }
}