@import 'utilities/_variables';

.appriseOverlay {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}

.appriseOuter {
  background: $overlay-background-color;
  border: 1px solid #fff;
  box-shadow: $overlay-box-shadow;
  -moz-box-shadow: $overlay-box-shadow;
  -webkit-box-shadow: $overlay-box-shadow;
  -moz-border-radius: $overlay-border-radius;
  -webkit-border-radius: $overlay-border-radius;
  border-radius: $overlay-border-radius;
  -khtml-border-radius: $overlay-border-radius;
  z-index: 99999999;
  min-width: 200px;
  min-height: 50px;
  max-width: 75%;
  position: fixed;
  display: none;
}

.appriseInner {
  color: $default-color;
  text-shadow: 0 1px 0 #fff;
  padding: 20px;
}

.appriseInner button {
  cursor: pointer;
  margin: 0 3px;
  padding: 4px 10px;
}

.aButtons, .aInput {
  text-align: center;
  margin: 20px 10px 0;
}

.aTextbox {
  border: 1px solid #aaa;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -khtml-border-radius: 4px;
  box-shadow: 0 1px 0 #fff;
  -moz-box-shadow: 0 1px 0 #fff;
  -webkit-box-shadow: 0 1px 0 #fff;
  width: 180px;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 10px;
}
