@import 'utilities/_variables';

$comment-header-background: #f7f7f7;
#add-comment-form {
  display: none;
}

#comments-block, #history-blocks {
  .comment-content.selected {
    background-color: #e6f1f6;
  }
  .comment-block {
    position: relative;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
    img {
      float: left;
      margin-left: -65px;
    }
  }
  .comment-header.display-avatar:before, .comment-header.display-avatar:after {
    position: absolute;
    top: 16px;
    left: -16px;
    right: 100%;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
    pointer-events: none;

  }
  .comment-header.display-avatar:before {
    border-right-color: #dddddd;
    border-width: 8px;
  }
  .comment-header.display-avatar:after {

    border-width: 7px;
    border-right-color: #f7f7f7;
    margin-top: 1px;
    margin-left: 2px;
  }
  .comment-block p {
    margin: 0;
  }
  .comment-header {
    padding: 15px;
    color: #999;
    border-bottom: 1px solid #ddd;
    background-color: $comment-header-background;

    .author {
      color: $default-color;
      font-weight: bold;
    }

    .history-date {
      margin-left: 5px;
      font-size: 12px;
      font-style: italic;
    }
    .actions {
      vertical-align: top;
    }

    .edited {
      position: absolute;
      left: 50%;
      color: $default-smooth-color;
      font-size: 12px;
    }
  }
  .comment-content {
    padding: 15px;

  }
}

#comments-overlay-content {
  padding: 10px 10px 10px 20px;
  width: 800px;
  #comments-block {
    margin-left: 40px;
  }
  .edited {
    display: none;
    position: relative;
  }
}