@import 'utilities/_variables';
$comment-header-background: #f7f7f7;
#add_comment_form{
  display: none;
}
#comments_block, #history_blocks{
  .selected{
    background-color: #e6f1f6;
  }
  .comment_block{
    position: relative;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
    img{
      float: left;
      margin-left: -65px;
    }
  }
  .comment_header.display_avatar:before, .comment_header.display_avatar:after{
    position: absolute;
    top: 16px;
    left: -16px;
    right: 100%;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
    pointer-events: none;

  }
  .comment_header.display_avatar:before{
    border-right-color: #dddddd;
    border-width: 8px;
  }
  .comment_header.display_avatar:after{

    border-width: 7px;
    border-right-color: #f7f7f7;
    margin-top: 1px;
    margin-left: 2px;
  }
  .comment_block p{
    margin: 0;
  }
  .comment_header{
    padding: 15px;
    color: #999;
    border-bottom: 1px solid #ddd;
    background-color: $comment-header-background;


    .author{
      color: $default-color;
      font-weight: bold;
    }

    .history_date {
      margin-left: 5px;
      font-size: 12px;
      font-style: italic;
    }
    .actions{
      vertical-align: top;
    }

    .edited{
      position: absolute;
      left: 50%;
      color : $default-smooth-color;
      font-size: 12px;
    }
  }
  .comment_content{
    padding: 15px;

  }
}

#comments_overlay_content{
  padding: 10px 10px 10px 20px;
  #comments_block{
    margin-left: 40px;
  }
}