@import "utilities/variables";

.form .box {
  border: inherit;
  border-bottom: 1px solid $default-border-color;
}

/*
*  FORM
*/

.form p {
  margin: 0;
  padding: 3px 0 3px 0;
  padding-left: 160px; /* width of left column containing the label elements */
  min-height: 1.8em;
  clear: left;
}

fieldset.settings {
  width: 98% !important;
  margin-left: 10px !important;
  padding: 3px 3px 3px 10px !important;
}

.form fieldset {
  margin: 0;
  padding: 3px 0 3px 0;
  margin-left: 160px; /* width of left column containing the label elements */
  min-height: 1.8em;
  width: 89%;
  clear: left;

}

.form label {
  font-weight: bold;
  float: left;
  text-align: right;
  /* width of left column */
  margin-left: -160px;
  /* width of labels. Should be smaller than left column to create some right margin */
  width: 155px;
}

.form {
  input[type=submit] {
    //    margin-left: 140px;
    //    width: 65px;
  }
}

.normal-label {
  font-weight: normal !important;
  float: none !important;
  text-align: inherit !important;
  margin-left: 0px !important;
  width: 0px !important;
}

button, input[type=button], input[type=submit] {
  margin-left: 10px;
}

.color-editor {
  position: relative;
  width: 120px;
  .color-editor-bg {
    position: absolute;
    left: 0;
    z-index: 10;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 3px;
  }
  .color-editor-field {
    width: 120px;
    padding-left: 28px;
    border-color: #ccc
  }

  .colors {
    position: absolute;
    left: 0;
    float: left;
    display: none;
    width: auto;
    margin-left: 0;
    padding: 5px;
  }
  .color-chooser {
    display: table-row;
    height: 25px;
    list-style: none;
    li {
      border-top: inherit;
      display: table-cell;
      width: 1%;
      padding: 0px;
    }
    .color-chooser-color {
      display: block;
      width: 25px;
      height: 25px;
      text-align: center;
      cursor: pointer;
    }
    .color-chooser-color:hover{
      border: solid 2px white;
      width: 21px;
      height: 21px;
    }
  }

}