@import 'utilities/_variables';

$history-header-background: #f7f7f7;
#history_blocks {
  position: relative;
  padding-left: 80px;

  .history_block {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    ul {
      list-style-type: none;
      li {
        position: relative;
        margin-bottom: 25px;
        margin-top: 25px;
        .activity_icon {
          top: -4px;
          left: -17px;
        }
        .detail{
          margin-left: 25px;
        }
      }
    }
    img{
      float: left;
      margin-left: -50px;
      margin-top: 4px;
    }
  }
  .history_date {
    margin-left: 5px;
    font-size: 12px;
    font-style: italic;
  }



  .history_header:before, .history_header:after{
    position: absolute;
    top: 16px;
    left: -15px;
    right: 100%;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
    pointer-events: none;

  }
  .history_header.display_avatar:before{
    border-right-color: #dddddd;
    border-width: 8px;
  }
  .history_header.display_avatar:after{

    border-width: 7px;
    border-right-color: #f7f7f7;
    margin-top: 1px;
    margin-left: 2px;
  }
  .history_header {
    padding: 15px;
    color: #999;
    background-color: $history-header-background;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid #ddd;
    .author{
      color: $default-color;
      font-weight: bold;
    }
  }
}

#history_blocks:before {
  display: block;
  content: "";
  position: absolute;
  top: 46px;
  bottom: 0;
  left: 119px;
  width: 2px;
  background-color: #f3f3f3;
  z-index: -1;
}
