@import 'utilities/_variables';

.project.list {
  list-style-type: none;
}

.project.list li {
  margin-bottom: 10px;
}

/*
*  LIST
*/
tr.odd-even:nth-child(odd) {
//  background: $default-table-tr-odd-background-color;
}

table.detail{
  tr{
    line-height: 24px;
  }
}
table.list {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #E4E4E4;
  overflow-x: auto;
  .tooltipped-s:after{
    top: 35px;
  }
  .tooltipped-s:before{
    top: 30px;
  }
}

.autoscroll {
  overflow-x: auto;
  overflow-y: hidden;
}

.list .header {
  background-color: $default-table-head-background-color;
  border-bottom: 1px solid #DADEE5;
  border-top: 1px solid #DADEE5;
  border-radius: 3px;
  color: $default-color;
  height: 30px;
}

.list .header a {
  color: $default-color !important;
}

.list th {
  text-align: center;
  padding-right: 10px;
  white-space: nowrap;
}

.list tr {
  color: $default-smooth-color;
  height: 60px;
  border-top: 1px solid #eeeeee;
}
.list td:first-child, .list th:first-child{
  padding-left: 5px;
}
.list td {
  white-space: nowrap;
}

.list td.icon-information {
  font-size: 11px;
  text-align: right;
  width: 30px;
}

.list td.icon-information:last-child {
  padding-right: 10px;
}

.list td.cell-checkbox {
  width: 20px;
}

.list td.id {
  width: 20px;
}

.list tr:first-child {
  text-align: left;
}

.list td.action {
  text-align: right;
  height: 27px;
}

.list tr.close {
  text-decoration: line-through;
}
.list td.inherit_decoration{
  text-decoration: inherit;
}

li.close {
  text-decoration: line-through;
}

.list .list-center {
  text-align: center;
}

.list .list-left {
  text-align: left;
}

.list {
  margin-bottom: 20px;
  margin-top: 20px;
}

.list tr.hover:not(.header) {
  background-color: $default-table-tr-hover-background-color !important;
}

.toolbox-selection {
  background-color: $default-table-tr-hover-background-color !important;
}

/*
*  PAGINATION
*/

.list th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.list th .asc {
  content: '\f0aa';
}

.list th .desc {
  content: '\f05b';
}

/*
 FANCY LIST
*/
.box .fancy-list {
  padding: 0px;
  margin-top: -5px;
  margin-bottom: 0px;
  margin-left: -6px;
  margin-right: -6px;
  .fancy-list-item {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 6px;
    padding-right: 6px;
  }
}

.fancy-list {
  list-style-type: none;
  .fancy-list-item {
    position: relative;
    margin: 0px 30px 30px -15px;
    border-bottom: 1px solid $default-border-color;
    > a {
      font-size: 20px;
    }
    .right-content-list {
      position: absolute;
      right: 0;
      padding-right: 6px;
      list-style-type: none;
      margin-right: 0px;
      margin-top: 0px;
      background-color: white;
      padding-left: 5px;
      li {
        float: left;
        margin-left: 10px;
        .octicon:before {
          margin-right: 2px;
        }
      }
    }
    p.bottom-content-list {
      font-size: 12px;
      padding-bottom: 20px;
    }
  }
}

.fancy-list-mini {
  .fancy-list-item {
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
    > a {
      font-size: 13px;
    }
  }
  .fancy-list-item:last-child {
    border-bottom: inherit;
    margin-bottom: -6px;
  }
  .octicon {
    font-size: 20px;
  }
  .button .octicon {
    font-size: 16px;
  }
}
.list td.done{
  padding-right: 5px;
  padding-left: 5px;
}

.counter{
    display: inline-block;
    padding: 2px 5px;
    font-size: 11px;
    font-weight: bold;
    line-height: 1;
    color: #777;
    background-color: #eee;
    border-radius: 20px;
}

.total-entries{
  font-size: 14px;
  padding: 5px 8px;
}