@import 'utilities/_variables';

.project.list {
  list-style-type: none;
}

.project.list li {
  margin-bottom: 10px;
}

/*
*  LIST
*/
tr.odd_even:nth-child(odd) {
  background: $default-table-tr-odd-background-color;
}

table.list {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #E4E4E4;
  overflow-x: auto;
}
.autoscroll {
  overflow-x: auto;
  padding: 1px;
  margin-bottom: 1.2em;
}

.list .header {
  background-color: $default-table-head-background-color;
  border-bottom: 1px solid #DADEE5;
  color: $default-color;
}

.list .header a {
  color: $default-color !important;
}

.list th {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.list tr {
  color: $default-smooth-color;
}

.list td{
//  word-break: break-all;
  white-space: nowrap;
}
.list tr:first-child{
  text-align: left;
}
.list td.action{
  text-align: right;
}
.list tr.close {
  text-decoration: line-through;
}

li.close {
  text-decoration: line-through;
}

.list .list_center {
  text-align: center;
}

.list .list_left {
  text-align: left;
}

.list {
  margin-bottom: 20px;
  margin-top: 20px;
}


.list tr.hover:not(.header) {
  background-color: $default-table-tr-hover-background-color !important;
}

.toolbox_selection{
  background-color:$default-table-tr-hover-background-color !important;
}


/*
*  PAGINATION
*/


.list th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.list th .asc {
  content: '\f0aa';
}

.list th .desc {
  content: '\f05b';
}