
#content .markdown-renderer {
  pre {
      padding: 16px;
      overflow: auto;
      font-size: 95%;
      line-height: 1.45;
      background-color: #f7f7f7;
      border-radius: 3px;
    code {
      display: inline;
      max-width: initial;
      padding: 0;
      margin: 0;
      overflow: initial;
      line-height: inherit;
      word-wrap: normal;
      background-color: transparent;
      border: 0;
    }
  }

  blockquote{
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd;
    margin: 0;
  }

  ul {
    padding-left: 20px;
  }
  ul.task-list {
    padding: 0px;
  }

  p{
    margin-bottom: 10px;
    margin-top: 5px;
  }
}

.comment-block {
  .markdown-preview {
    padding: 10px;
  }
}

.markdown-preview {
  ul {
    margin-left: 10px;
  }
}