@import 'utilities/_variables';
/*
*  OVERLAY
*/

.overlayOuter {
  background: $overlay-background-color;
  border: 1px solid #fff;
  box-shadow: $overlay-box-shadow;
  -moz-box-shadow: $overlay-box-shadow;
  -webkit-box-shadow: $overlay-box-shadow;
  -moz-border-radius: $overlay-border-radius;
  -webkit-border-radius: $overlay-border-radius;
  border-radius: $overlay-border-radius;
  -khtml-border-radius: $overlay-border-radius;
  z-index: 99999999;
  min-width: 200px;
  min-height: 50px;
  max-width: 75%;
  position: fixed;
  display: none;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;

  span.close_button{
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
  }
  span.close_button:hover{
    color: $default-color;
  }
}

.overlayInner {
  padding: 20px;
  color: #333;
  overflow-wrap: break-word;
  max-height: 600px;
  overflow-y: auto;
}


.overlayButtons, .overlayInput {
  margin: 20px 10px 0px 10px;
  text-align: center;
}

#activity_overlay .overlayInner {
  max-height: 400px;

  overflow-y: auto;
}

.overlayInner #issue_history {
  width: 600px;
}