/*
    Document   : pagination
    Created on : 2 août 2012, 21:11:32
    Author     : nicolas
    Description:
        Purpose of the stylesheet follows.
*/
@import 'utilities/_variables';

.pagination {
  background: $default-background-color;
  cursor: default;
  /* self-clearing method: */
  .previous_page{
    width: 65px;
  }
}

.pagination a:first-child, .pagination span:first-child, .pagination em:first-child {
  margin-left: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.pagination a:last-child, .pagination span:last-child, .pagination em:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.pagination .gap, .pagination .disabled, .pagination .gap:hover, .pagination .disabled:hover {
  background-color: #fafafa;
  cursor: default;
  color: #d3d3d3;
}

.pagination a, .pagination span, .pagination em {
  position: relative;
  float: left;
  margin-left: -1px;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  padding: 7px 12px;
  color: #4183c4;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background: #fff;
  border: 1px solid #e5e5e5;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pagination .current, .pagination .current:hover {
  z-index: 3;
  color: #fff;
  background-color: #4183c4;
  border-color: #4183c4;
}

.pagination a:hover, .pagination a:focus {
  background-color: #dddddd;
  background-image: -moz-linear-gradient(#eee, #ddd);
  background-image: -webkit-linear-gradient(#eee, #ddd);
  background-image: linear-gradient(#eee, #ddd);
  background-repeat: repeat-x;

}

.pagination .page_info {
  background: #6F8696;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center;
}

.pagination .page_info b {
  color: #6F8696;
  background: #6F8696;
  padding: 0.1em 0.25em;
}

.pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .pagination {
  height: 1%;
}

*:first-child + html .pagination {
  overflow: hidden;
}

.per_page label {
  float: left;
  margin-right: 5px;
  color: $default-smooth-color;
  border: 1px solid $default-border-color;
  border-radius: 3px;
  margin-left: -1px;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  padding: 7px 12px;
  white-space: nowrap;
  background: #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.autocomplete-combobox.per_page{
  margin-top: 5px;
}