@import 'utilities/_variables';

/*
*  SIDEBAR
*/

#sidebar ul {
  list-style: none;
}

#sidebar a, #sidebar a:link, #sidebar a:visited {
  display: block;
  color: $link-color;
  text-decoration: none;
}

#sidebar a:hover, #sidebar a:visited:hover {
  color: $link-hover-color;
}

/**
  TABS
*/
#sidebar {
  ul.tabs {
    margin: 0 -1px 0 0;
    padding-left: 0px;
    list-style: none;
    border-left: 1px solid $default-border-color;
    li {
      background-color: $default-background-color;
      padding: 15px 10px 15px 10px;
      a {
        color: $link-tabs-color;
      }
    }
    li.selected {
      border-left: 1px solid white !important;
      border-right: 3px solid $default-selected-border-color !important;
      border-top: 1px solid $default-border-color !important;
      border-bottom: 1px solid $default-border-color !important;
      margin-left: -1px !important;
      font-weight: bold;
      a {
        color: $link-hover-color !important;
      }
    }
    li:hover {
      margin-left: -3px;
      border-left: 3px solid $default-hover-border-color;
      a {
        color: $link-hover-color !important;
      }
    }
  }
}

#sidebar .tabs .alert {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  white-space: nowrap;
  border-radius: 3px;

}

#sidebar .tabs .alert a {
  color: #900;
}

#sidebar .tabs .alert:hover {
  color: #fff;
  text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.3);
  background-color: #b33630;
  background-image: -moz-linear-gradient(#dc5f59, #b33630);
  background-image: -webkit-linear-gradient(#dc5f59, #b33630);
  background-image: linear-gradient(#dc5f59, #b33630);
  background-repeat: repeat-x;
  border-left: 3px solid #cd504a;
}

#sidebar .tabs .alert:hover a {
  color: white !important;
}

#sidebar .tabs .warning a {
  color: #fcc645 !important;
}

#sidebar .tabs .warning:hover {
  background-color: #fcc645 !important;
  border-left: 3px solid #fcc645;
}

#sidebar .tabs .warning:hover a {
  color: white !important;
}

ul.filter_sidebar {
  list-style-type: none;
  padding: 0;
  li {
    .filter_item {
      display: block;
      padding: 8px 10px;
      margin: 0 0 5px;
      overflow: hidden;
      font-size: 14px;
      color: $default-smooth-color;
      text-decoration: none;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      border-radius: 3px;
      .count {
        float: right;
        font-weight: bold;
      }
    }
    .filter_item.selected {
      color: #fff;
      background: #4183c4 !important;
      .octicon {
        color: #fff;
      }
    }
    .filter_item:hover {
      background-color: $default-box-header-background-color;
    }
  }
}

ul.filter_sidebar.small {
  li {
    .filter_item {

      font-size: 12px;
    }
  }
}

.left_sidebar {
  float: left;
  width: 20%;
  margin-top: 6px;
}