@import 'utilities/variables';

.tabnav {
  border-bottom: 1px solid #ddd;
  padding: 6px 10px 0;
  border-radius: 3px 3px 0 0;

}

.markItUpHeaderMenu.tabnav {

  border: 1px solid #ddd;
  background: #f7f7f7;
}

ul.tabnav-tabs {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  outline: none;
  li {
    display: inline-block;
    margin-bottom: -1px;
  }
}

a.tabnav-tab {
  color: #000;
}

.tabnav-tab {
  display: inline-block;
  padding: 8px 12px 7px;
  font-size: 14px;
  line-height: 20px;
  color: #666;
  text-decoration: none;
  border: 1px solid transparent;
  border-bottom: 0;
}

.tabnav-tab.selected {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
  border-radius: 3px 3px 0 0;
}

.subnav{
  margin-top: 20px;
  display: inline-block;
}
.subnav.subnav-right{
  float: right;
  margin-top: 10px;
  margin-left: 5px;
}
a.subnav-item:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.subnav-item:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.subnav-item+.subnav-item {
  margin-left: -1px;
}
a.subnav-item.selected, a.subnav-item.selected:hover, a.subnav-item.selected:focus {
  z-index: 2;
  color: #fff;
  background-color: #4183c4;
  border-color: #4183c4;
  .octicon{
    color: white;
  }
}

a.subnav-item {
  position: relative;
  float: left;
  padding: 7px 14px;
  font-weight: bold;
  color: #666;
  border: 1px solid #e5e5e5;
}
a.subnav-item:not(.selected):hover{
  background-color: #dddddd;
  background-image: -moz-linear-gradient(#eee, #ddd);
  background-image: -webkit-linear-gradient(#eee, #ddd);
  background-image: linear-gradient(#eee, #ddd);
  background-repeat: repeat-x;
}
