@import 'utilities/_variables';

html {
  font-family: "Verdana", "Arial";
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: $default-background-color;
  font-size: 14px;
}

*:focus {
  outline: none;
}

h2 {
  color: $default-h2-color;
}

hr {
  width: 100%;
  height: 1px;
  background: #CCC;
  border: 0;
}

a, a:link, a:visited {
  color: $link-color;
  text-decoration: none;
  font-weight: bold;
  font-size: $link-font-size;
}

a:hover, a:visited:hover {
  color: $link-hover-color;
}

a.selected {
  color: $link-selected-color;
  font-weight: bold;
}

pre {
  font-family: "Verdana", "Arial";
  word-wrap: break-word;
}

fieldset {
  color: #505050;
  line-height: 1.5em;
  border: 1px solid #e4e4e4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-left: 0px;
  margin-right: 0px;
}

fieldset legend {
  font-weight: bold;
}

fieldset.margin_fieldset {
  margin: 10px;
}

a.button, button, input[type=button], input[type=submit] {
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  white-space: nowrap;
  background-color: #eeeeee;
  background-image: -moz-linear-gradient(#fcfcfc, #eee);
  background-image: -webkit-linear-gradient(#fcfcfc, #eee);
  background-image: linear-gradient(#fcfcfc, #eee);
  background-repeat: repeat-x;
  border-radius: 3px;
  border: 1px solid #d5d5d5;
  margin: 0 3px;
  padding: 4px 10px;
}

a.button, .button {
  color: $link-color;
}

a.danger, .danger {
  color: $danger-color;
  .octicon {
    color: $danger-color;
  }
}

a.button:hover, button:hover, input[type=button]:hover, input[type=submit]:hover {
  text-decoration: none;
  background-color: #dddddd;
  background-image: -moz-linear-gradient(#eee, #ddd);
  background-image: -webkit-linear-gradient(#eee, #ddd);
  background-image: linear-gradient(#eee, #ddd);
  background-repeat: repeat-x;
  border-color: #ccc;
  cursor: pointer;
}

a.button:hover, .button:hover {
  color: $link-color;
}

a.danger:hover, .danger:hover {
  color: #fff;
  text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.3);
  background-color: #b33630;
  background-image: -moz-linear-gradient(#dc5f59, #b33630);
  background-image: -webkit-linear-gradient(#dc5f59, #b33630);
  background-image: linear-gradient(#dc5f59, #b33630);
  background-repeat: repeat-x;
  border: 1px solid #b33630;
  .octicon {
    color: white;
  }
}

#contextual .button {
  margin: 0px;
}

input {
  height: 25px;
  border: 1px solid #e4e4e4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 10px;
}

input[type=checkbox] {
  height: auto;
}

input[type=date] {
  width: 130px;
}

input:focus {
  border: 1px solid #e4e4e4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

textarea {
  border: 1px solid #e4e4e4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
  resize: vertical;
}

.required {
  color: #A60800;
}

input[type=radio] {
  height: 13px;
}

ul.task_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a.author_link {
  color: $default-color;

}

a.author_link:hover {
  color: $default-smooth-color;
  text-decoration: underline;
}

