@import 'utilities/variables';

.markItUp * {
  margin: 0px;
  padding: 0px;
  outline: none;
}

.markItUp a:link,
.markItUp a:visited {
  color: #000;
  text-decoration: none;
}

.markItUp {
  margin: 5px 0 5px 0;
}

.markItUpHeader{
  margin-bottom: 10px;
  margin-top: -5px;
}

/**
  Icons
*/
.markItUp a {
  position: relative;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eeeeee;
  background-image: -moz-linear-gradient(#fcfcfc, #eee);
  background-image: -webkit-linear-gradient(#fcfcfc, #eee);
  background-image: linear-gradient(#fcfcfc, #eee);
  background-repeat: repeat-x;
  border: 1px solid #d5d5d5;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  padding: 0 10px;
  line-height: 24px;
  margin-left: -1px;
  float: left;
  color: $link-hover-color !important;
  .octicon{
    padding: 0px;
    margin: 0px;
    color: $link-hover-color !important;
  }
}
.markItUp a:hover{
  text-decoration: none;
  background-color: #dddddd;
  background-image: -moz-linear-gradient(#eee, #ddd);
  background-image: -webkit-linear-gradient(#eee, #ddd);
  background-image: linear-gradient(#eee, #ddd);
  background-repeat: repeat-x;
  border-color: #ccc;
}

.markItUp .markItUpGroup a:last-child{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.markItUp .markItUpGroup a:first-child{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.markItUp .toolbar_h1 {
  content: 'h1';
}

.markItUp .toolbar_a a:before {
  content: '\f05c';
}

.markItUpGroup{
  margin-right: 10px;
  display: inline-block;
}