<%#
# Author: Nicolas Meylan
# Date: 23 oct. 2012
# Encoding: UTF-8
# File: _form.html.erb
%>

<%= raw error_messages(tracker.errors.full_messages) %>
<div class="box">
  <p>
    <label for="tracker_name"><%= t(:field_name) %><span class="required">*</span></label>
    <%= f.text_field :name, :size => 80, maxlength: 50 %>
  </p>
</div>

