<%#
# Author: Nicolas Meylan
# Date: 23 oct. 2012
# Encoding: UTF-8
# File: _list.html.erb
%>

<div id="trackers_content">
  <table class="tracker list">
    <tr class="header">
      <th>Name</th>
      <th></th>
    </tr>
    <% @trackers.each do |tracker| %>
      <tr class="odd_even" id="<%= tracker.id %>">
        <td class="list_left name"><% if current_user.allowed_to?('edit','Trackers') %>
            <%= link_to tracker.name, edit_tracker_path(tracker.id)%>
          <% else %>
            <%= tracker.name %>
          <% end %>
        </td>
        <td class="action">
          <%= link_to_with_permissions(t(:link_delete), tracker_path(tracker.id),  nil,  {:method => :delete, :class => 'icon icon-del', :remote => true, :confirm => t(:text_delete_item )}) %>
        </td>
      </tr>
    <%end%>
  </table>
</div>
