<%#
# Author: Nicolas Meylan
# Date: 5 févr. 2013
# Encoding: UTF-8
# File: _create_overlay.erb
%>
<div class="overlayOuter" id="create-query-overlay">
  <div class="overlayInner" style="width:747px">
    <div id="form-content">
      <% if @query %>
          <%= render :partial => 'queries/form' %>
      <% end %>
    </div>

  </div>
</div>