/*
    Document   : pagination
    Created on : 2 août 2012, 21:11:32
    Author     : nicolas
    Description:
        Purpose of the stylesheet follows.
*/
.pagination {
   background: white;
   cursor: default;
   /* self-clearing method: */ }
.pagination a, .pagination span, .pagination em {
   padding: 0.2em 0.5em;
   display: block;
   float: left;
   margin-right: 1px; }
.pagination .disabled {
   color: #6F8696;
   border: 1px solid #6F8696; }
.pagination .current {
   font-style: normal;
   font-weight: bold;
   background: #6F8696;
   color: white;
   border: 1px solid #6F8696; }
.pagination a {
   text-decoration: none;
   color: #6F8696 !important;
   border: 1px solid #6F8696; }
.pagination a:hover, .pagination a:focus {
   color: #FFC773 !important;
   border-color: #6F8696; }
.pagination .page_info {
   background: #6F8696;
   color: white;
   padding: 0.4em 0.6em;
   width: 22em;
   margin-bottom: 0.3em;
   text-align: center; }
.pagination .page_info b {
   color: #6F8696;
   background: #6F8696;
   padding: 0.1em 0.25em; }
.pagination:after {
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden; }
* html .pagination {
   height: 1%; }
*:first-child + html .pagination {
   overflow: hidden; }

