@import 'utilities/_variables';
@import 'utilities/effects';
@import 'partials/icons';
@import "partials/tags";
// HTML tags style. (e.g : p, h2, ...).
@import 'partials/top_menu';
@import 'partials/horizontal_menu';
@import 'partials/pagination';
@import 'partials/list';
//Tables style.
@import 'partials/combobox';
//Chosen select.
@import 'partials/sidebar';
@import 'partials/toolbar';
// Textile toolbar.
@import 'partials/overlay';
// Overlay.
@import 'partials/growl_popup';
// Growl osx like.
@import 'partials/toolbox';
@import 'partials/form';
@import 'partials/apprise';
@import 'partials/activities';
@import 'partials/comments';
@import 'partials/history';
@import 'partials/text_complete';
@import 'partials/tabs';
@import 'partials/markdown_renderer';

/*
*  HEADER CONTENT
*/
#header {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid $default-border-color;
  background-color: $default-background-color;

}

#header h1 {
  vertical-align: middle;
  color: $default-color;
  margin: 0px;
  padding: 32px 50px;
}

#main {
  margin: 15px 15px 0px 15px;
}

/*
*  MAIN CONTENT
*/
#highlight_search {
  top: 56px;
  position: fixed;
  right: 0px;
  display: none;
  padding: 5px;
  background-color: $default-background-color;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  input {
    width: 250px;
    margin-bottom: 0px;
  }
  span#highlight_search_result_count {
    position: absolute;
    z-index: 1;
    cursor: text;
    pointer-events: none;
    color: #999;
    /* Input padding + input border */
    padding: 7px;
    /* Firefox does not respond well to different line heights. Use padding instead. */
    line-height: 17px;
    /* This gives a little gap between the cursor and the label */
    right: 5px;
  }
}

.highlight_search_result {
  position: relative !important;
  z-index: 20;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff !important;
}

#main.nosidebar #content {
  width: auto;
  float: inherit;
}

#sidebar {
  float: right;
  width: 15%;
  position: relative;
  padding: 0;
  margin: 0;
}

#content {
  float: left;
  color: $default-color;
  padding: 6px 10px 10px 10px;
  z-index: 10;
  width: 82%;
  text-align: justify;
  overflow-wrap: break-word;
}

#content h1 {
  font-size: 20px;
  padding: 2px 10px 1px 0px;
  margin: 0 0 10px 0;
  color: $default-h1-color;
}

#contextual {
  background: $default-background-color;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
  padding-left: 20px;
  margin: -7px -10px 10px;
  border-bottom: 1px solid $default-border-color;
}

#content h2 {
  font-size: 16px;
  padding: 2px 10px 1px 0px;
  margin: 0 0 10px 0;
}

#content h3 {
  font-size: 14px;
  padding: 2px 10px 1px 0px;
  margin: 0 0 10px 0;
  color: #444;
}

#content p {
  margin: 10px;
}

#footer {
  clear: both;
  font-size: 0.8em;
  padding: 5px;
  text-align: center;
  margin: 10px;
  color: $default-smooth-color;
  a {
    font-size: 0.8em;
  }
}

#content li {
  font-size: 12px;
}

.separator {
  margin: 10px -10px;
  border-bottom: 1px solid #DADEE5;
}

.no-margin {
  margin: 0px !important;
}

.no-padding_left {
  padding-left: 0px !important;
}

.no-height {
  height: inherit !important;
}

.clear-both {
  clear: both;
}

.no-data {
  position: relative;
  padding: 30px;
  text-align: center;
  background-color: #fafafa;
  border: 1px solid #e5e5e5;
  //border-radius: 3px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}

.help {
  border: 1px solid #97c1da;
  border-radius: 4px;
  color: #264c72;
  background-color: #d0e3ef;
  background-image: -moz-linear-gradient(#d8ebf8, #d0e3ef);
  background-image: -webkit-linear-gradient(#d8ebf8, #d0e3ef);
  background-image: linear-gradient(#d8ebf8, #d0e3ef);
  padding: 4px;
}

.breadcrumb .mega-octicon {
  vertical-align: middle;

}

.breadcrumb h1 {
  display: inline;
  a {
    font-size: inherit;
  }
}

.avatar a {
  vertical-align: top;
}

img.user_profile {
  vertical-align: middle;
}

img.avatar {
  border-radius: 5px;
}

img.small_avatar {
  border-radius: 3px;
}

.members_block {
  margin-bottom: 10px;
  margin-top: 10px;
  span.avatar {
    a {
      line-height: 20px;
    }
  }
  span.members_grouped_by_role {
    vertical-align: middle;
  }
  h4 {
    display: inline;
  }
}

.smooth_gray {
  color: #eee;
  .octicon {
    color: #eee;
  }
}

/*
*  FLASH MESSAGE
*/
.flash {
  padding: 9px 35px 10px;
}

.flash:hover {
  .close_flash {
    opacity: 1;
  }
}

.flash ul {
  margin: 0;
  padding: 0;
}

.flash.alert {
  background: #a00;
  border-radius: 4px;
  -webkit-font-smoothing: antialiased;
  border-color: 1px solid #cd504a;
  margin-bottom: 2px;
  color: white;
  .octicon {
    color: white;
  }
}

.flash.notice {
  border: 1px solid #97c1da;
  border-radius: 4px;
  color: #264c72;
  background-color: #d0e3ef;
  background-image: -moz-linear-gradient(#d8ebf8, #d0e3ef);
  background-image: -webkit-linear-gradient(#d8ebf8, #d0e3ef);
  background-image: linear-gradient(#d8ebf8, #d0e3ef);
  margin-bottom: 2px;
  .octicon {
    color: #97c1da;
  }
}

.close_flash {
  float: right;
  opacity: 0.8;
  text-decoration: none;
  margin-top: 1px;
  cursor: pointer;
}

.disabled {
  background-color: #cfcfcf;
  color: #AAA;
}

.text-alert {
  color: #bd2c00;
  .octicon {
    color: #bd2c00;
  }
  .octicon:hover {
    color: #bd2c00;
  }
}

/*
* Split content
*/
.splitcontentright {
  float: right;
  /* Firefox */
  width: -moz-calc(50% - 20px);
  /* WebKit */
  width: -webkit-calc(50% - 20px);
  /* Opera */
  width: -o-calc(50% - 20px);
  /* Standard */
  width: calc(50% - 20px);
}

.splitcontentright.small {
  width: 29%;
}

.splitcontentright.large {
  width: 69%;
}

.splitcontentright.box {

  background-color: #FCFCFC;
}

.splitcontentleft {
  float: left;
  /* Firefox */
  width: -moz-calc(50% - 20px);
  /* WebKit */
  width: -webkit-calc(50% - 20px);
  /* Opera */
  width: -o-calc(50% - 20px);
  /* Standard */
  width: calc(50% - 20px);
}

.splitcontentleft.small {
  width: 29%;
}

.splitcontentleft.large {
  width: 69%;
}

/*
*  CONTEXTUAL
*/
#contextual .splitcontentright {
  text-align: right;
  margin-top: -28px;
}

/*
  BOXES
*/
.box {
  padding: 6px;
  margin: 10px;
  line-height: 1.5em;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
}

.box_notes {
  color: #505050;
  border: 1px solid #e4e4e4;
}

.right {
  float: right;
  margin-right: 5px;
  //  margin-top: 5px;
}

.box > .header {
  background: $default-box-header-background-color;
  color: $default-box-header-color;
  padding-top: 5px;
  text-align: center;
  margin: -6px -6px 10px;
  border-bottom: 1px solid #DADEE5;
}

.box .header h2, .box .header h1 {
  color: $default-box-header-color !important;
}

.edit_note {
  padding: 6px;
  margin: 10px;
}

.slim {
  line-height: normal;
  font-size: 12px;
}

.chzn-container:focus {
  border: 1px solid #e4e4e4;
  outline: none;
}

.attachment_title {
  padding-right: 20px;
}

.attachment_box {
  table {
    margin-left: 60px !important;
  }
}

.box div#attachments {
  table {
    margin-left: 180px;
  }
}

.has_context_menu {
  cursor: context-menu;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/*
*  AJAX loading
*/

#loading {
  width: 190px;
  position: fixed;
  top: 200px;
  left: 45%;
  display: none;
  //background-color: #EEE;
  border: 1px solid #ddd;
  color: $default-color;
  font-weight: bold;
  font-size: 12px;
  background: url(asset_path('loading.gif')) 10px 50% no-repeat #eee;
  //background: url("/images/spinners/octocat-spinner-16px.gif?c7d371d8") 10px 50% no-repeat #eee;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 20;
}

#loading p {
  text-align: center;
}

.underlined_title {
  padding-bottom: 10px !important;
  border-bottom: solid 1px #e5e5e5;
}

/*
*  jQuery UI
*/
.ui-widget-content a, .ui-widget-content a:link, .ui-widget-content a:visited {
  color: #888;
  text-decoration: none;
}

.ui-widget-content a:hover, .ui-widget-content a:visited:hover {
  color: #FFC773;
}

/*
*  FILTER
*/

#filter_content td {
  display: inline-block;
}

#filter_content td.label {
  width: 10%;
}

#filter_content td.radio {
  width: 40%;
}

#filter_content td.value {
  width: 48%;
}

#filter_content {
  width: 100%;
  padding: 6px;
  margin-bottom: 10px;
  color: #505050;
  line-height: 1.5em;
  border: 1px solid #E4E4E4;
  /*   -webkit-border-radius: 5px;*/
  /*   border-radius: 5px;*/
}

/*
  PROGRESS BAR
*/
.roadmap .progress_bar {
  height: 20px;
}

.roadmap_version_block {
  margin-bottom: 30px;
  margin-top: 30px;
}

.roadmap_version_block .box {
  margin-left: 2px;
  margin-right: 2px;
}

.progress_bar {
  position: relative;
  display: block;
  overflow: hidden;
  background-color: #eee;
  border-radius: 3px;
  height: 20px;
  .progress {

    height: 20px;
    display: block;
    background-color: #65bd10;
    background-image: -moz-linear-gradient(#8dcf16, #65bd10);
    background-image: -webkit-linear-gradient(#8dcf16, #65bd10);
    background-image: linear-gradient(#8dcf16, #65bd10);
    background-repeat: repeat-x;
  }
  .percent {
    position: absolute;
    top: 0px;
    left: 7px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  }
}

/*
* PROJECTS
*/
ul.project_list {
  list-style-type: none;
  > li {
    margin: 0px 30px 30px -15px !important;
    border-bottom: 1px solid $default-border-color;
    > a {
      font-size: 20px;
    }
    ul.project_stats {
      position: relative;
      float: right;
      list-style-type: none;
      li {
        float: left;
        margin-left: 10px;
        .octicon:before {
          margin-right: 2px;
        }
      }
    }
    p.project_last_activity {
      font-size: 12px;
      padding-bottom: 20px;
    }
    div.star_project, div.watch_project {
      position: relative;
      margin-top: -30px;
      float: right;
    }
  }
}

#project_description {
  min-height: 300px;
}

.version_overview {
  h1 {
    float: left;
  }
  .version_due_date {
    float: right;
  }
  .requests_stats {
    float: left;
    margin-top: 10px;
  }
  .over_run {
    float: right;
    margin-top: 10px;
  }
}

#add_member_overlay {
  height: 300px;
  width: 400px;
  .overlayInner {
    height: 100%;
  }
}

/*
   CALENDAR
*/
#calendar_header {
  border: 1px solid #CACACA;
  text-align: center;
  background-color: whitesmoke;
}

#calendar_body {
  padding: 0;
  width: 100%
}

#calendar .li_calendar_item {
  list-style-type: none;
  float: left;
  display: inline-block;
  padding: 0;
  width: 10%;
  min-height: 131px;
}

#spent_time .li_calendar_item {
  width: 14%;
  min-height: 201px;
}

.calendar_item {
  height: 130px;
  margin-right: -1px;
  border: 1px solid #CACACA;
}

#spent_time .calendar_item {
  height: 200px;
}

.calendar_item .calendar_item_header {
  background-color: whitesmoke;
  height: 20px;
  border-bottom: 1px solid #CACACA;
  margin: 0;

}

.calendar_item .calendar_item_body {
  height: 110px;
  margin: 0;
}

#spent_time .calendar_item .calendar_item_body {
  height: 160px;
}

.calendar_item .calendar_item_body ul {
  padding: 0px;
  height: 95%;
  overflow-x: auto;
}

.calendar_item .calendar_item_bottom {
  border-top: 1px solid #CACACA;
}

.calendar_item .calendar_item_body li {
  list-style-type: none;
  padding: 5px;
  margin: 2px;
  border: 1px solid #bbb;
  text-shadow: 0 1px 0 #fff;

  box-shadow: 0 1px 2px #ccc;
  -moz-box-shadow: 0 1px 2px #ccc;
  -webkit-box-shadow: 0 1px 2px #ccc;
  border: 1px solid #bbb;
  color: #888;
  text-decoration: none;
  background-color: #EEF0F3;
}

#calendar .odd_even:nth-child(odd) .calendar_item_body li {
  background-color: white;
}

#calendar .odd_even:nth-child(odd) {
  background: #F1F5FA;
}

.calendar_item .calendar_item_body p {
  margin: 0px 5px 0px 5px !important;
  padding-top: 10px;
}

.calendar_item .calendar_item_body.target {
  background-color: #E1E0DC;
  cursor: pointer;
}

.calendar_item .calendar_item_body.today {
  background-color: #D7D7D7;
}

.calendar_item_left {
  width: 45%;
  float: left;
}

.calendar_item_right {
  float: right;
}

/*
   ISSUES
*/
.toggle.right {
  float: right;
  height: 15px;
}

div.home_page_issues_overview_group h2 {
  padding-bottom: 10px !important;
  border-bottom: solid 1px $default-border-color;
}

div.issues_overview_group {
  width: 49%;
  margin-bottom: 30px;
  h2 {
    padding-bottom: 10px !important;
    border-bottom: solid 1px $default-border-color;
  }
}

div.home_page_issues_overview_group {
  margin-bottom: 20px;
}

table.issues_overview_group, table.home_page_issues_overview_group {
  width: 100%;
  td.caption {
    width: 40%;
  }
  td.number {
    width: 20%;
    text-align: center;
  }
  td.percentage {
    width: 40%;
  }
  th.number, th.percentage {
    text-align: center;
  }
  tr.issues_overview_group.body, tr.home_page_issues_overview_group.body {
    td {

    }
  }
}

div.issues_overview_group:nth-child(odd) {
  float: right;
}

div.issues_overview_group:nth-child(even) {
  float: left;
}

.issue_checklist_progress {
  font-size: 14px;
}

/*
    WIKI
*/
#wiki_pages li {
  list-style-type: none;
}

#wiki_pages.organize li {
  padding: 5px;
  margin: 5px;
}

#wiki_pages.organize ul {
  min-height: 40px;
  border: 1px dashed #D7D7D7;
  margin: 10px;
}

#wiki_pages.organize ul.trash {
  margin: 0px;
  padding: 0px;
}

/*
    MY
*/
.my .issue.list td.project, td.assigned_to {
  width: 10%;
}

/*
    Log time
*/
#spent_time_overlay_content {
  width: 700px;
}

/*
  Coworkers
*/
#coworkers_content .box {
  margin: 0px;
  margin-top: 10px;
}

/*
hotkeys_overlay
*/
#hotkeys_overlay {
  min-width: 700px;
  height: 400px;
  li {
    list-style-type: none;
    margin-bottom: 10px;
  }
  .shortcut {
    position: relative;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
    white-space: nowrap;
    vertical-align: middle;
    background-color: #eeeeee;
    background-image: -moz-linear-gradient(#fcfcfc, #eee);
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);
    background-repeat: repeat-x;
    border: 1px solid #d5d5d5;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    padding: 0 10px;
    line-height: 24px;
    color: $link-hover-color !important;
    border-radius: 3px;
    min-width: 16px;
    text-align: center;
  }
}

/*
 Permissions
*/
table.permissions_list {
  width: 100%;
  margin-bottom: 30px;
  margin-top: 30px;
  .controller {
    font-weight: bold;
  }
  .permissions_list.header {
    vertical-align: middle;
    a.check_all {
      margin-right: 10px;
    }
  }
  .permissions_list.header.controller {
    width: 15%;
  }
  .permissions_list.body {
    vertical-align: top;
  }
  .permissions_list.body.spacer td {
    height: 10px;
  }
  .permissions_list.body.spacer.border td {
    height: 10px;
    border-bottom: solid 1px $default-border-color;
  }
}

.tooltipped {
  position: relative
}

.tooltipped:after {
  position: absolute;
  z-index: 1000000;
  display: none;
  padding: 5px 8px;
  font: normal normal 11px/1.5 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: break-word;
  white-space: pre;
  pointer-events: none;
  content: attr(label);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  -webkit-font-smoothing: subpixel-antialiased
}

.tooltipped:before {
  position: absolute;
  z-index: 1000001;
  display: none;
  width: 0;
  height: 0;
  color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  content: "";
  border: 5px solid transparent
}

.tooltipped:hover:before, .tooltipped:hover:after, .tooltipped:active:before, .tooltipped:active:after, .tooltipped:focus:before, .tooltipped:focus:after {
  display: inline-block;
  text-decoration: none
}

.tooltipped-multiline:hover:after, .tooltipped-multiline:active:after, .tooltipped-multiline:focus:after {
  display: table-cell
}

.tooltipped-s:after, .tooltipped-se:after, .tooltipped-sw:after {
  top: 100%;
  right: 50%;
  margin-top: 5px
}

.tooltipped-s:before, .tooltipped-se:before, .tooltipped-sw:before {
  top: auto;
  right: 50%;
  bottom: -5px;
  margin-right: -5px;
  border-bottom-color: rgba(0, 0, 0, 0.8)
}

.tooltipped-se:after {
  right: auto;
  left: 50%;
  margin-left: -15px
}

.tooltipped-sw:after {
  margin-right: -15px
}

.tooltipped-n:after, .tooltipped-ne:after, .tooltipped-nw:after {
  right: 50%;
  bottom: 100%;
  margin-bottom: 5px
}

.tooltipped-n:before, .tooltipped-ne:before, .tooltipped-nw:before {
  top: -5px;
  right: 50%;
  bottom: auto;
  margin-right: -5px;
  border-top-color: rgba(0, 0, 0, 0.8)
}

.tooltipped-ne:after {
  right: auto;
  left: 50%;
  margin-left: -15px
}

.tooltipped-nw:after {
  margin-right: -15px
}

.tooltipped-s:after, .tooltipped-n:after {
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%)
}

.tooltipped-w:after {
  right: 100%;
  bottom: 50%;
  margin-right: 5px;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%)
}

.tooltipped-w:before {
  top: 50%;
  bottom: 50%;
  left: -5px;
  margin-top: -5px;
  border-left-color: rgba(0, 0, 0, 0.8)
}

.tooltipped-e:after {
  bottom: 50%;
  left: 100%;
  margin-left: 5px;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%)
}

.tooltipped-e:before {
  top: 50%;
  right: -5px;
  bottom: 50%;
  margin-top: -5px;
  border-right-color: rgba(0, 0, 0, 0.8)
}