@charset "UTF-8";
@font-face {
  font-family: 'octicons';
  src: font-url("octicons/octicons.eot?#iefix") format("embedded-opentype"), font-url("octicons/octicons.woff") format("woff"), font-url("octicons/octicons.ttf") format("truetype"), font-url("octicons/octicons.svg#octicons") format("svg");
  font-weight: normal;
  font-style: normal; }

/*

.octicon is optimized for 16px.
.mega-octicon is optimized for 32px but can be used larger.

*/
.octicon {
  font: normal normal 16px octicons;
  line-height: 1;
  margin-right: 6px;
  display: inline-block;
  color: gray;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a:hover .medium-octicon, a:hover .mega-octicon, a:hover .octicon {
  color: #484848; }

a .octicon:hover {
  color: #484848; }

.octicon-info:hover {
  cursor: pointer; }

.mega-octicon {
  font: normal normal 32px octicons;
  line-height: 1;
  margin-right: 6px;
  display: inline-block;
  color: gray;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.medium-octicon {
  font: normal normal 24px octicons;
  line-height: 1;
  margin-right: 6px;
  margin-top: -6px;
  display: inline-block;
  color: gray;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.octicon-disabled {
  color: #888; }

.octicon-alert:before {
  content: '\f02d'; }

/*  */
.octicon-alignment-align:before {
  content: '\f08a'; }

/*  */
.octicon-alignment-aligned-to:before {
  content: '\f08e'; }

/*  */
.octicon-alignment-unalign:before {
  content: '\f08b'; }

/*  */
.octicon-arrow-down:before {
  content: '\f03f'; }

/*  */
.octicon-arrow-left:before {
  content: '\f040'; }

/*  */
.octicon-arrow-right:before {
  content: '\f03e'; }

/*  */
.octicon-arrow-small-down:before {
  content: '\f0a0'; }

/*  */
.octicon-arrow-small-left:before {
  content: '\f0a1'; }

/*  */
.octicon-arrow-small-right:before {
  content: '\f071'; }

/*  */
.octicon-arrow-small-up:before {
  content: '\f09f'; }

/*  */
.octicon-arrow-up:before {
  content: '\f03d'; }

/*  */
.octicon-beer:before {
  content: '\f069'; }

/*  */
.octicon-book:before {
  content: '\f007'; }

/*  */
.octicon-bookmark:before {
  content: '\f07b'; }

/*  */
.octicon-briefcase:before {
  content: '\f0d3'; }

/*  */
.octicon-broadcast:before {
  content: '\f048'; }

/*  */
.octicon-browser:before {
  content: '\f0c5'; }

/*  */
.octicon-bug:before {
  content: '\f091'; }

/*  */
.octicon-calendar:before {
  content: '\f068'; }

/*  */
.octicon-check:before {
  content: '\f03a'; }

/*  */
.octicon-checklist:before {
  content: '\f076'; }

/*  */
.octicon-chevron-down:before {
  content: '\f0a3'; }

/*  */
.octicon-chevron-left:before {
  content: '\f0a4'; }

/*  */
.octicon-chevron-right:before {
  content: '\f078'; }

/*  */
.octicon-chevron-up:before {
  content: '\f0a2'; }

/*  */
.octicon-circle-slash:before {
  content: '\f084'; }

/*  */
.octicon-circuit-board:before {
  content: '\f0d6'; }

/*  */
.octicon-clippy:before {
  content: '\f035'; }

/*  */
.octicon-clock:before {
  content: '\f046'; }

/*  */
.octicon-cloud-download:before {
  content: '\f00b'; }

/*  */
.octicon-cloud-upload:before {
  content: '\f00c'; }

/*  */
.octicon-code:before {
  content: '\f05f'; }

/*  */
.octicon-color-mode:before {
  content: '\f065'; }

/*  */
.octicon-comment-add:before,
.octicon-comment:before {
  content: '\f02b'; }

/*  */
.octicon-comment-discussion:before {
  content: '\f04f'; }

/*  */
.octicon-credit-card:before {
  content: '\f045'; }

/*  */
.octicon-dash:before {
  content: '\f0ca'; }

/*  */
.octicon-dashboard:before {
  content: '\f07d'; }

/*  */
.octicon-database:before {
  content: '\f096'; }

/*  */
.octicon-device-camera:before {
  content: '\f056'; }

/*  */
.octicon-device-camera-video:before {
  content: '\f057'; }

/*  */
.octicon-device-desktop:before {
  content: '\f27c'; }

/*  */
.octicon-device-mobile:before {
  content: '\f038'; }

/*  */
.octicon-diff:before {
  content: '\f04d'; }

/*  */
.octicon-diff-added:before {
  content: '\f06b'; }

/*  */
.octicon-diff-ignored:before {
  content: '\f099'; }

/*  */
.octicon-diff-modified:before {
  content: '\f06d'; }

/*  */
.octicon-diff-removed:before {
  content: '\f06c'; }

/*  */
.octicon-diff-renamed:before {
  content: '\f06e'; }

/*  */
.octicon-ellipsis:before {
  content: '\f09a'; }

/*  */
.octicon-eye-unwatch:before,
.octicon-eye-watch:before,
.octicon-eye:before {
  content: '\f04e'; }

/*  */
.octicon-file-binary:before {
  content: '\f094'; }

/*  */
.octicon-file-code:before {
  content: '\f010'; }

/*  */
.octicon-file-directory:before {
  content: '\f016'; }

/*  */
.octicon-file-media:before {
  content: '\f012'; }

/*  */
.octicon-file-pdf:before {
  content: '\f014'; }

/*  */
.octicon-file-submodule:before {
  content: '\f017'; }

/*  */
.octicon-file-symlink-directory:before {
  content: '\f0b1'; }

/*  */
.octicon-file-symlink-file:before {
  content: '\f0b0'; }

/*  */
.octicon-file-text:before {
  content: '\f011'; }

/*  */
.octicon-file-zip:before {
  content: '\f013'; }

/*  */
.octicon-flame:before {
  content: '\f0d2'; }

/*  */
.octicon-fold:before {
  content: '\f0cc'; }

/*  */
.octicon-gear:before {
  content: '\f02f'; }

/*  */
.octicon-gift:before {
  content: '\f042'; }

/*  */
.octicon-gist:before {
  content: '\f00e'; }

/*  */
.octicon-gist-secret:before {
  content: '\f08c'; }

/*  */
.octicon-git-branch-create:before,
.octicon-git-branch-delete:before,
.octicon-git-branch:before {
  content: '\f020'; }

/*  */
.octicon-git-commit:before {
  content: '\f01f'; }

/*  */
.octicon-git-compare:before {
  content: '\f0ac'; }

/*  */
.octicon-git-merge:before {
  content: '\f023'; }

/*  */
.octicon-git-pull-request-abandoned:before,
.octicon-git-pull-request:before {
  content: '\f009'; }

/*  */
.octicon-globe:before {
  content: '\f0b6'; }

/*  */
.octicon-graph:before {
  content: '\f043'; }

/*  */
.octicon-heart:before {
  content: '\2665'; }

/* ♥ */
.octicon-history:before {
  content: '\f07e'; }

/*  */
.octicon-home:before {
  content: '\f08d'; }

/*  */
.octicon-horizontal-rule:before {
  content: '\f070'; }

/*  */
.octicon-hourglass:before {
  content: '\f09e'; }

/*  */
.octicon-hubot:before {
  content: '\f09d'; }

/*  */
.octicon-inbox:before {
  content: '\f0cf'; }

/*  */
.octicon-info:before {
  content: '\f059'; }

/*  */
.octicon-issue-closed:before {
  content: '\f028'; }

/*  */
.octicon-issue-opened:before {
  content: '\f026'; }

/*  */
.octicon-issue-reopened:before {
  content: '\f027'; }

/*  */
.octicon-jersey:before {
  content: '\f019'; }

/*  */
.octicon-jump-down:before {
  content: '\f072'; }

/*  */
.octicon-jump-left:before {
  content: '\f0a5'; }

/*  */
.octicon-jump-right:before {
  content: '\f0a6'; }

/*  */
.octicon-jump-up:before {
  content: '\f073'; }

/*  */
.octicon-key:before {
  content: '\f049'; }

/*  */
.octicon-keyboard:before {
  content: '\f00d'; }

/*  */
.octicon-law:before {
  content: '\f0d8'; }

/*  */
.octicon-light-bulb:before {
  content: '\f000'; }

/*  */
.octicon-link:before {
  content: '\f05c'; }

/*  */
.octicon-link-external:before {
  content: '\f07f'; }

/*  */
.octicon-list-ordered:before {
  content: '\f062'; }

/*  */
.octicon-list-unordered:before {
  content: '\f061'; }

/*  */
.octicon-location:before {
  content: '\f060'; }

/*  */
.octicon-gist-private:before,
.octicon-mirror-private:before,
.octicon-git-fork-private:before,
.octicon-lock:before {
  content: '\f06a'; }

/*  */
.octicon-logo-github:before {
  content: '\f092'; }

/*  */
.octicon-mail:before {
  content: '\f03b'; }

/*  */
.octicon-mail-read:before {
  content: '\f03c'; }

/*  */
.octicon-mail-reply:before {
  content: '\f051'; }

/*  */
.octicon-mark-github:before {
  content: '\f00a'; }

/*  */
.octicon-markdown:before {
  content: '\f0c9'; }

/*  */
.octicon-megaphone:before {
  content: '\f077'; }

/*  */
.octicon-mention:before {
  content: '\f0be'; }

/*  */
.octicon-microscope:before {
  content: '\f089'; }

/*  */
.octicon-milestone:before {
  content: '\f075'; }

/*  */
.octicon-mirror-public:before,
.octicon-mirror:before {
  content: '\f024'; }

/*  */
.octicon-mortar-board:before {
  content: '\f0d7'; }

/*  */
.octicon-move-down:before {
  content: '\f0a8'; }

/*  */
.octicon-move-left:before {
  content: '\f074'; }

/*  */
.octicon-move-right:before {
  content: '\f0a9'; }

/*  */
.octicon-move-up:before {
  content: '\f0a7'; }

/*  */
.octicon-mute:before {
  content: '\f080'; }

/*  */
.octicon-no-newline:before {
  content: '\f09c'; }

/*  */
.octicon-octoface:before {
  content: '\f008'; }

/*  */
.octicon-organization:before {
  content: '\f037'; }

/*  */
.octicon-package:before {
  content: '\f0c4'; }

/*  */
.octicon-paintcan:before {
  content: '\f0d1'; }

/*  */
.octicon-pencil:before {
  content: '\f058'; }

/*  */
.octicon-person-add:before,
.octicon-person-follow:before,
.octicon-person:before {
  content: '\f018'; }

/*  */
.octicon-pin:before {
  content: '\f041'; }

/*  */
.octicon-playback-fast-forward:before {
  content: '\f0bd'; }

/*  */
.octicon-playback-pause:before {
  content: '\f0bb'; }

/*  */
.octicon-playback-play:before {
  content: '\f0bf'; }

/*  */
.octicon-playback-rewind:before {
  content: '\f0bc'; }

/*  */
.octicon-plug:before {
  content: '\f0d4'; }

/*  */
.octicon-repo-create:before,
.octicon-gist-new:before,
.octicon-file-directory-create:before,
.octicon-file-add:before,
.octicon-plus:before {
  content: '\f05d'; }

/*  */
.octicon-podium:before {
  content: '\f0af'; }

/*  */
.octicon-primitive-dot:before {
  content: '\f052'; }

/*  */
.octicon-primitive-square:before {
  content: '\f053'; }

/*  */
.octicon-pulse:before {
  content: '\f085'; }

/*  */
.octicon-puzzle:before {
  content: '\f0c0'; }

/*  */
.octicon-question:before {
  content: '\f02c'; }

/*  */
.octicon-quote:before {
  content: '\f063'; }

/*  */
.octicon-radio-tower:before {
  content: '\f030'; }

/*  */
.octicon-repo-delete:before,
.octicon-repo:before {
  content: '\f001'; }

/*  */
.octicon-repo-clone:before {
  content: '\f04c'; }

/*  */
.octicon-repo-force-push:before {
  content: '\f04a'; }

/*  */
.octicon-gist-fork:before,
.octicon-repo-forked:before {
  content: '\f002'; }

/*  */
.octicon-repo-pull:before {
  content: '\f006'; }

/*  */
.octicon-repo-push:before {
  content: '\f005'; }

/*  */
.octicon-rocket:before {
  content: '\f033'; }

/*  */
.octicon-rss:before {
  content: '\f034'; }

/*  */
.octicon-ruby:before {
  content: '\f047'; }

/*  */
.octicon-screen-full:before {
  content: '\f066'; }

/*  */
.octicon-screen-normal:before {
  content: '\f067'; }

/*  */
.octicon-search-save:before,
.octicon-search:before {
  content: '\f02e'; }

/*  */
.octicon-server:before {
  content: '\f097'; }

/*  */
.octicon-settings:before {
  content: '\f07c'; }

/*  */
.octicon-log-in:before,
.octicon-sign-in:before {
  content: '\f036'; }

/*  */
.octicon-log-out:before,
.octicon-sign-out:before {
  content: '\f032'; }

/*  */
.octicon-split:before {
  content: '\f0c6'; }

/*  */
.octicon-squirrel:before {
  content: '\f0b2'; }

/*  */
.octicon-star-add:before,
.octicon-star-delete:before,
.octicon-star:before {
  content: '\f02a'; }

/*  */
.octicon-steps:before {
  content: '\f0c7'; }

/*  */
.octicon-stop:before {
  content: '\f08f'; }

/*  */
.octicon-repo-sync:before,
.octicon-sync:before {
  content: '\f087'; }

/*  */
.octicon-tag-remove:before,
.octicon-tag-add:before,
.octicon-tag:before {
  content: '\f015'; }

/*  */
.octicon-telescope:before {
  content: '\f088'; }

/*  */
.octicon-terminal:before {
  content: '\f0c8'; }

/*  */
.octicon-three-bars:before {
  content: '\f05e'; }

/*  */
.octicon-tools:before {
  content: '\f031'; }

/*  */
.octicon-trashcan:before {
  content: '\f0d0'; }

/*  */
.octicon-triangle-down:before {
  content: '\f05b'; }

/*  */
.octicon-triangle-left:before {
  content: '\f044'; }

/*  */
.octicon-triangle-right:before {
  content: '\f05a'; }

/*  */
.octicon-triangle-up:before {
  content: '\f0aa'; }

/*  */
.octicon-unfold:before {
  content: '\f039'; }

/*  */
.octicon-unmute:before {
  content: '\f0ba'; }

/*  */
.octicon-versions:before {
  content: '\f064'; }

/*  */
.octicon-remove-close:before,
.octicon-x:before {
  content: '\f081'; }

/*  */
.octicon-zap:before {
  content: '\26A1'; }

/* ⚡ */
.octicon-king:before {
  content: '\F0D9'; }

/* ⚡ */
.octicon-unlock:before {
  content: '\F0DA'; }

/* ⚡ */
.octicon-today:before {
  content: '\F0DB'; }

.octicon-crown:before {
  content: '\F0DD'; }

.octicon-attachment:before {
  content: '\F0E1'; }

/* ⚡ */
.octicon-duplicate:before {
  content: '\F0E0'; }

/* ⚡ */
.octicon-sub-file:before {
  content: '\F0DF'; }

.octicon-progress:before {
  content: '\F0DC'; }

html {
  font-family: "Verdana", "Arial"; }

body {
  margin: 0px;
  background-color: white;
  font-size: 14px; }

h2 {
  color: #484848; }

hr {
  width: 100%;
  height: 1px;
  background: #CCC;
  border: 0; }

a, a:link, a:visited {
  color: #4183c4;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px; }

a:hover, a:visited:hover {
  color: #484848; }

a.selected {
  color: #d26911;
  font-weight: bold; }

pre {
  font-family: "Verdana", "Arial";
  word-wrap: break-word; }

fieldset {
  color: #505050;
  line-height: 1.5em;
  border: 1px solid #e4e4e4;
  /*   -webkit-border-radius: 5px;*/
  /*   border-radius: 5px;*/ }

fieldset legend {
  font-weight: bold; }

fieldset.margin_fieldset {
  margin: 10px; }

button, input[type=button], input[type=submit] {
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  white-space: nowrap;
  background-color: #eeeeee;
  background-image: -moz-linear-gradient(#fcfcfc, #eeeeee);
  background-image: -webkit-linear-gradient(#fcfcfc, #eeeeee);
  background-image: linear-gradient(#fcfcfc, #eeeeee);
  background-repeat: repeat-x;
  border-radius: 3px;
  border: 1px solid #d5d5d5;
  margin: 0 3px;
  padding: 4px 10px; }

button:hover, input[type=button]:hover, input[type=submit]:hover {
  text-decoration: none;
  background-color: #dddddd;
  background-image: -moz-linear-gradient(#eeeeee, #dddddd);
  background-image: -webkit-linear-gradient(#eeeeee, #dddddd);
  background-image: linear-gradient(#eeeeee, #dddddd);
  background-repeat: repeat-x;
  border-color: #ccc;
  cursor: pointer; }

input {
  height: 25px;
  border: 1px solid #e4e4e4;
  /*   -webkit-border-radius: 5px;*/
  /*   border-radius: 5px;*/
  margin-bottom: 10px; }

input[type=checkbox] {
  height: auto; }

input:focus {
  border: 1px solid #e4e4e4;
  /*   -webkit-border-radius: 5px;*/
  outline: none; }

textarea {
  border: 1px solid #e4e4e4;
  /*   -webkit-border-radius: 5px;*/
  /*   border-radius: 5px;*/
  width: 99%;
  margin-bottom: 10px; }

.required {
  color: #A60800; }

input[type=radio] {
  height: 13px; }

/*
*  TOP MENU
*/
#top_menu a {
  font-size: 11px; }

#top_menu {
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(#f9f9f9, #f3f3f3);
  background-image: -webkit-linear-gradient(#f9f9f9, #f3f3f3);
  background-image: linear-gradient(#f9f9f9, #f3f3f3);
  background-repeat: repeat-x;
  padding: 7px 10px 2px 20px;
  height: 2.8em;
  font-size: 11px;
  font-weight: bold;
  border-bottom: 1px solid #e5e5e5; }

#top_menu ul {
  padding: 0px;
  margin: 5px 0px; }

#top_menu li {
  float: left;
  list-style-type: none;
  padding: 0px;
  margin: 0px; }

#top_menu a.square {
  border: 1px solid #bbb;
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;
  box-shadow: 0 1px 2px #ccc;
  -moz-box-shadow: 0 1px 2px #ccc;
  -webkit-box-shadow: 0 1px 2px #ccc;
  margin-bottom: 0px;
  margin-right: 8px;
  color: #4183c4;
  background-color: white;
  text-decoration: none;
  padding: 4px 5px 7px 5px; }

#top_menu a.square:hover {
  color: #484848; }

#top_menu a.square.selected {
  color: #d26911; }

#account {
  float: right; }

#project_logo {
  margin-right: 10px; }

/*
* HORIZONTAL MENU
*/
#horizontal_menu {
  margin: 0px 15px 15px 15px;
  padding-bottom: 3px;
  /* Progressive background */
  background-color: white;
  height: 47px;
  font-size: 13px;
  color: #888888; }

#horizontal_menu li {
  text-align: center;
  display: table-cell;
  width: 1%;
  vertical-align: middle; }

#horizontal_menu li a {
  display: block;
  line-height: 47px;
  font-weight: bold;
  color: #888888; }

#horizontal_menu ul {
  margin: 0 -1px 0 0;
  height: 47px;
  list-style-type: none;
  padding-left: 0; }

#horizontal_menu li a:hover {
  border-bottom: 3px solid #d4d4d4;
  color: #484848; }

#horizontal_menu li.selected a {
  margin-top: -1px;
  border-top: 1px solid white !important;
  border-left: 1px solid #e5e5e5 !important;
  border-right: 1px solid #e5e5e5 !important;
  border-bottom: 3px solid #d26911 !important;
  color: #484848; }

.menu-separator {
  margin: auto;
  width: 95%;
  height: 3px;
  background: -webkit-gradient(linear, 70% 0%, 70% 100%, from(white), to(#f2f2f2));
  background: -moz-linear-gradient(top, white, #f2f2f2); }

/*
    Document   : pagination
    Created on : 2 août 2012, 21:11:32
    Author     : nicolas
    Description:
        Purpose of the stylesheet follows.
*/
.pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }

.pagination a, .pagination span, .pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px; }

.pagination .disabled {
  color: gray;
  border: 1px solid #e5e5e5; }

.pagination .current {
  font-style: normal;
  font-weight: bold;
  padding-bottom: 3px;
  color: #d26911;
  border: 1px solid #e5e5e5; }

.pagination a {
  text-decoration: none;
  color: #888888 !important;
  border: 1px solid #e5e5e5; }

.pagination a:hover, .pagination a:focus {
  color: #484848 !important;
  border-color: #e5e5e5; }

.pagination .page_info {
  background: #6F8696;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center; }

.pagination .page_info b {
  color: #6F8696;
  background: #6F8696;
  padding: 0.1em 0.25em; }

.pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

* html .pagination {
  height: 1%; }

*:first-child + html .pagination {
  overflow: hidden; }

.per_page label {
  color: gray;
  border: 1px solid #e5e5e5;
  padding: 0.2em 0.4em;
  float: left;
  margin-right: 2px; }

.project.list {
  list-style-type: none; }

.project.list li {
  margin-bottom: 10px; }

/*
*  LIST
*/
tr.odd_even:nth-child(odd) {
  background: rgba(230, 241, 246, 0.4); }

table.list {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #E4E4E4; }

.list .header {
  background-color: whitesmoke;
  border-bottom: 1px solid #DADEE5;
  color: #484848; }

.list .header a {
  color: #484848 !important; }

.list th {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px; }

.list tr {
  color: gray; }

.list tr.close {
  text-decoration: line-through; }

li.close {
  text-decoration: line-through; }

.list .list_center {
  text-align: center; }

.list .list_left {
  text-align: left; }

.list {
  margin-bottom: 20px;
  margin-top: 20px; }

.issue_tr:hover {
  background-color: #fcfce2 !important; }

.toolbox_selection {
  background-color: #fcfce2 !important; }

.list .id {
  width: 3%; }

.issue.list .tracker {
  width: 7%; }

.issue.list .subject {
  width: 25%; }

.issue.list .assigned_to {
  width: 13%; }

.issue.list .status {
  width: 10%; }

.issue.list .category {
  width: 10%; }

.issue.list .version {
  width: 15%; }

.issue.list .due_date {
  width: 10%; }

.issue.list .done {
  width: 6%; }

.issue_overlay.list .id {
  width: 3%; }

.issue_overlay.list .subject {
  width: 95%; }

.user.list .id {
  width: 3%; }

.user.list .login {
  width: 15%; }

.user.list .name {
  width: 25%; }

.user.list .email {
  width: 30%; }

.user.list .admin {
  width: 10%; }

.user.list .last_sign_in {
  width: 17%; }

.version.list .name {
  width: 20%; }

.version.list .version {
  width: 25%; }

.version.list .start_date {
  width: 25%; }

.member.list .name {
  width: 20%; }

.member.list .role {
  width: 75%; }

.list .action {
  width: 5%; }

.role.list .name {
  width: 95%; }

.tracker.list .name {
  width: 95%; }

.queries.list .name {
  width: 95%; }

.splitcontentright .issue.list .project {
  width: 20%; }

.splitcontentright .issue.list .subject {
  width: 30%; }

.splitcontentright .issue.list .due_date {
  width: 10%; }

.splitcontentright .issue.list .status {
  width: 15%; }

.document.list .name {
  width: 61%; }

.document.list .category {
  width: 15%; }

.document.list .version {
  width: 20%; }

/*
*  PAGINATION
*/
.list th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center; }

.list th .asc {
  content: '\f0aa'; }

.list th .desc {
  content: '\f05b'; }

/*
 Custom style
*/
.cbb-medium {
  width: 150px; }

.cbb-verylarge {
  width: 650px; }

.cbb-large {
  width: 450px; }

.cbb-small {
  width: 69px; }

.autocomplete-combobox {
  height: 39px;
  margin: 0;
  padding: 3px 0 3px 0; }

.form .autocomplete-combobox {
  padding-left: 192px; }

td .autocomplete-combobox {
  height: 26px; }

.autocomplete-combobox div.chzn-search {
  display: none; }

.chzn-container a {
  color: #484848 !important; }

/**
  CHOSEN default style
*/
/* @group Base */
.chzn-container {
  font-size: 13px;
  position: relative;
  display: inline-block;
  zoom: 1;
  /*display: inline;*/ }

.chzn-container .chzn-drop {
  background: #fff;
  border: 1px solid #aaa;
  border-top: 0;
  position: absolute;
  top: 29px;
  left: 0;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  z-index: 1010; }

/* @end */
/* @group Single Chosen */
.chzn-container-single .chzn-single {
  background-color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0 );
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, white), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
  background-image: -webkit-linear-gradient(top, white 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: -moz-linear-gradient(top, white 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: -o-linear-gradient(top, white 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: -ms-linear-gradient(top, white 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: linear-gradient(top, white 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  /*  -webkit-border-radius: 5px;*/
  /*  -moz-border-radius   : 5px;*/
  /*  border-radius        : 5px;*/
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #aaaaaa;
  -webkit-box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 23px;
  line-height: 24px;
  padding: 0 0 0 8px;
  color: #444444;
  text-decoration: none; }

.chzn-container-single .chzn-default {
  color: #999; }

.chzn-container-single .chzn-single span {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis; }

.chzn-container-single .chzn-single abbr {
  display: block;
  position: absolute;
  right: 26px;
  top: 6px;
  width: 12px;
  height: 13px;
  font-size: 1px;
  background: url(asset_path("chosen-sprite.png")) right top no-repeat; }

.chzn-container-single .chzn-single abbr:hover {
  background-position: right -11px; }

.chzn-container-single.chzn-disabled .chzn-single abbr:hover {
  background-position: right top; }

.chzn-container-single .chzn-single div {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 18px; }

.chzn-container-single .chzn-single div b {
  background: url(asset_path("chosen-sprite.png")) no-repeat 0 0;
  display: block;
  width: 100%;
  height: 100%; }

.chzn-container-single .chzn-search {
  padding: 3px 4px;
  position: relative;
  margin: 0;
  white-space: nowrap;
  z-index: 1010; }

.chzn-container-single .chzn-search input {
  background: white url(asset_path("chosen-sprite.png")) no-repeat 100% -22px;
  background: url(asset_path("chosen-sprite.png")) no-repeat 100% -22px, -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, white));
  background: url(asset_path("chosen-sprite.png")) no-repeat 100% -22px, -webkit-linear-gradient(top, #eeeeee 1%, white 15%);
  background: url(asset_path("chosen-sprite.png")) no-repeat 100% -22px, -moz-linear-gradient(top, #eeeeee 1%, white 15%);
  background: url(asset_path("chosen-sprite.png")) no-repeat 100% -22px, -o-linear-gradient(top, #eeeeee 1%, white 15%);
  background: url(asset_path("chosen-sprite.png")) no-repeat 100% -22px, -ms-linear-gradient(top, #eeeeee 1%, white 15%);
  background: url(asset_path("chosen-sprite.png")) no-repeat 100% -22px, linear-gradient(top, #eeeeee 1%, white 15%);
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  outline: 0;
  border: 1px solid #aaa;
  font-family: sans-serif;
  font-size: 1em; }

.chzn-container-single .chzn-drop {
  /*  -webkit-border-radius: 0 0 4px 4px;*/
  /*  -moz-border-radius   : 0 0 4px 4px;*/
  /*  border-radius        : 0 0 4px 4px;*/
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }

/* @end */
.chzn-container-single-nosearch .chzn-search input {
  position: absolute;
  left: -9000px; }

/* @group Multi Chosen */
.chzn-container-multi .chzn-choices {
  background-color: #fff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, white));
  background-image: -webkit-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: -moz-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: -o-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: -ms-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: linear-gradient(top, #eeeeee 1%, white 15%);
  border: 1px solid #aaa;
  margin: 0;
  padding: 0;
  cursor: text;
  overflow: hidden;
  height: auto !important;
  height: 1%;
  position: relative; }

.chzn-container-multi .chzn-choices li {
  float: left;
  list-style: none; }

.chzn-container-multi .chzn-choices .search-field {
  white-space: nowrap;
  margin: 0;
  padding: 0; }

.chzn-container-multi .chzn-choices .search-field input {
  color: #666;
  background: transparent !important;
  border: 0 !important;
  font-family: sans-serif;
  font-size: 100%;
  height: 15px;
  padding: 5px;
  margin: 1px 0;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }

.chzn-container-multi .chzn-choices .search-field .default {
  color: #999; }

.chzn-container-multi .chzn-choices .search-choice {
  /*  -webkit-border-radius: 3px;*/
  /*  -moz-border-radius   : 3px;*/
  /*  border-radius        : 3px;*/
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #e4e4e4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0 );
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  -webkit-box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  border: 1px solid #aaaaaa;
  line-height: 13px;
  padding: 3px 20px 3px 5px;
  margin: 3px 0 3px 5px;
  position: relative;
  cursor: default; }

.chzn-container-multi .chzn-choices .search-choice-focus {
  background: #d4d4d4; }

.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
  display: block;
  position: absolute;
  right: 3px;
  top: 4px;
  width: 12px;
  height: 13px;
  font-size: 1px;
  background: url(asset_path("chosen-sprite.png")) right top no-repeat; }

.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
  background-position: right -11px; }

.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close {
  background-position: right -11px; }

/* @end */
/* @group Results */
.chzn-container .chzn-results {
  margin: 0 4px 4px 0;
  max-height: 240px;
  padding: 0 0 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

.chzn-container-multi .chzn-results {
  margin: -1px 0 0;
  padding: 0; }

.chzn-container .chzn-results li {
  display: none;
  line-height: 15px;
  padding: 5px 6px;
  margin: 0;
  list-style: none; }

.chzn-container .chzn-results .active-result {
  cursor: pointer;
  display: list-item; }

.chzn-container .chzn-results .highlighted {
  background-color: #4183c4;
  color: #fff; }

.chzn-container .chzn-results li em {
  background: #feffde;
  font-style: normal; }

.chzn-container .chzn-results .highlighted em {
  background: transparent; }

.chzn-container .chzn-results .no-results {
  background: #f4f4f4;
  display: list-item; }

.chzn-container .chzn-results .group-result {
  cursor: default;
  color: #999;
  font-weight: bold; }

.chzn-container .chzn-results .group-option {
  padding-left: 15px; }

.chzn-container-multi .chzn-drop .result-selected {
  display: none; }

.chzn-container .chzn-results-scroll {
  background: white;
  margin: 0 4px;
  position: absolute;
  text-align: center;
  width: 321px;
  /* This should by dynamic with js */
  z-index: 1; }

.chzn-container .chzn-results-scroll span {
  display: inline-block;
  height: 17px;
  text-indent: -5000px;
  width: 9px; }

.chzn-container .chzn-results-scroll-down {
  bottom: 0; }

.chzn-container .chzn-results-scroll-down span {
  background: url(asset_path("chosen-sprite.png")) no-repeat -4px -3px; }

.chzn-container .chzn-results-scroll-up span {
  background: url(asset_path("chosen-sprite.png")) no-repeat -22px -3px; }

/* @end */
/* @group Active  */
.chzn-container-active .chzn-single {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #5897fb; }

.chzn-container-active .chzn-single-with-drop {
  border: 1px solid #aaa;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  -moz-box-shadow: 0 1px 0 #fff inset;
  -o-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #fff inset;
  background-color: #eee;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0 );
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #eeeeee), color-stop(80%, white));
  background-image: -webkit-linear-gradient(top, #eeeeee 20%, white 80%);
  background-image: -moz-linear-gradient(top, #eeeeee 20%, white 80%);
  background-image: -o-linear-gradient(top, #eeeeee 20%, white 80%);
  background-image: -ms-linear-gradient(top, #eeeeee 20%, white 80%);
  background-image: linear-gradient(top, #eeeeee 20%, white 80%);
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.chzn-container-active .chzn-single-with-drop div {
  background: transparent;
  border-left: none; }

.chzn-container-active .chzn-single-with-drop div b {
  background-position: -18px 1px; }

.chzn-container-active .chzn-choices {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #5897fb; }

.chzn-container-active .chzn-choices .search-field input {
  color: #111 !important; }

/* @end */
/* @group Disabled Support */
.chzn-disabled {
  cursor: default;
  opacity: 0.5 !important; }

.chzn-disabled .chzn-single {
  cursor: default; }

.chzn-disabled .chzn-choices .search-choice .search-choice-close {
  cursor: default; }

/* @group Right to Left */
.chzn-rtl {
  text-align: right; }

.chzn-rtl .chzn-single {
  padding: 0 8px 0 0;
  overflow: visible; }

.chzn-rtl .chzn-single span {
  margin-left: 26px;
  margin-right: 0;
  direction: rtl; }

.chzn-rtl .chzn-single div {
  left: 3px;
  right: auto; }

.chzn-rtl .chzn-single abbr {
  left: 26px;
  right: auto; }

.chzn-rtl .chzn-choices .search-field input {
  direction: rtl; }

.chzn-rtl .chzn-choices li {
  float: right; }

.chzn-rtl .chzn-choices .search-choice {
  padding: 3px 5px 3px 19px;
  margin: 3px 5px 3px 0; }

.chzn-rtl .chzn-choices .search-choice .search-choice-close {
  left: 4px;
  right: auto;
  background-position: right top; }

.chzn-rtl.chzn-container-single .chzn-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0; }

.chzn-rtl .chzn-results .group-option {
  padding-left: 0;
  padding-right: 15px; }

.chzn-rtl.chzn-container-active .chzn-single-with-drop div {
  border-right: none; }

.chzn-rtl .chzn-search input {
  background: white url(asset_path("chosen-sprite.png")) no-repeat -38px -22px;
  background: url(asset_path("chosen-sprite.png")) no-repeat -38px -22px, -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, white));
  background: url(asset_path("chosen-sprite.png")) no-repeat -38px -22px, -webkit-linear-gradient(top, #eeeeee 1%, white 15%);
  background: url(asset_path("chosen-sprite.png")) no-repeat -38px -22px, -moz-linear-gradient(top, #eeeeee 1%, white 15%);
  background: url(asset_path("chosen-sprite.png")) no-repeat -38px -22px, -o-linear-gradient(top, #eeeeee 1%, white 15%);
  background: url(asset_path("chosen-sprite.png")) no-repeat -38px -22px, -ms-linear-gradient(top, #eeeeee 1%, white 15%);
  background: url(asset_path("chosen-sprite.png")) no-repeat -38px -22px, linear-gradient(top, #eeeeee 1%, white 15%);
  padding: 4px 5px 4px 20px;
  direction: rtl; }

/* @end */
/*
*  SIDEBAR
*/
#sidebar ul {
  list-style: none; }

#sidebar a, #sidebar a:link, #sidebar a:visited {
  display: block;
  color: #4183c4;
  text-decoration: none; }

#sidebar a:hover, #sidebar a:visited:hover {
  color: #484848; }

/**
  TABS
*/
#sidebar ul.tabs {
  margin: 0 -1px 0 0;
  padding-left: 0px;
  list-style: none;
  border-left: 1px solid #e5e5e5; }
  #sidebar ul.tabs li {
    background-color: white;
    padding: 15px 10px 15px 10px; }
    #sidebar ul.tabs li a {
      color: #888888; }
  #sidebar ul.tabs li.selected {
    border-left: 1px solid white !important;
    border-right: 3px solid #d26911 !important;
    border-top: 1px solid #e5e5e5 !important;
    border-bottom: 1px solid #e5e5e5 !important;
    margin-left: -1px !important;
    font-weight: bold; }
    #sidebar ul.tabs li.selected a {
      color: #484848 !important; }
  #sidebar ul.tabs li:hover {
    margin-left: -3px;
    border-left: 3px solid #d4d4d4; }
    #sidebar ul.tabs li:hover a {
      color: #484848 !important; }

#sidebar .tabs .alert {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  white-space: nowrap;
  border-radius: 3px; }

#sidebar .tabs .alert a {
  color: #900; }

#sidebar .tabs .alert:hover {
  color: #fff;
  text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.3);
  background-color: #b33630;
  background-image: -moz-linear-gradient(#dc5f59, #b33630);
  background-image: -webkit-linear-gradient(#dc5f59, #b33630);
  background-image: linear-gradient(#dc5f59, #b33630);
  background-repeat: repeat-x;
  border-left: 3px solid #cd504a; }

#sidebar .tabs .alert:hover a {
  color: white !important; }

#sidebar .tabs .warning a {
  color: #fcc645 !important; }

#sidebar .tabs .warning:hover {
  background-color: #fcc645 !important;
  border-left: 3px solid #fcc645; }

#sidebar .tabs .warning:hover a {
  color: white !important; }

.markItUp * {
  margin: 0px;
  padding: 0px;
  outline: none; }

.markItUp a:link,
.markItUp a:visited {
  color: #000;
  text-decoration: none; }

.markItUp {
  margin: 5px 0 5px 0; }

.markItUpContainer {
  font: 11px Verdana, Arial, Helvetica, sans-serif; }

.markItUpPreviewFrame {
  overflow: auto;
  background-color: #FFF;
  width: 99.9%;
  height: 300px;
  margin: 5px 0; }

.markItUpFooter {
  width: 100%; }

.markItUpResizeHandle {
  overflow: hidden;
  width: 22px;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  cursor: n-resize; }

/***************************************************************************************/
/* first row of buttons */
.markItUpHeader ul li {
  list-style: none;
  float: left;
  position: relative; }

.markItUpHeader ul li:hover > ul {
  display: block; }

.markItUpHeader ul .markItUpDropMenu {
  margin-right: 5px; }

.markItUpHeader ul .markItUpDropMenu li {
  margin-right: 0px; }

/* next rows of buttons */
.markItUpHeader ul ul {
  display: none;
  position: absolute;
  top: 18px;
  left: 0px;
  background: #FFF;
  border: 1px solid #000; }

.markItUpHeader ul ul li {
  float: none;
  border-bottom: 1px solid #000; }

.markItUpHeader ul .markItUpSeparator {
  margin: 0 3px;
  width: 1px;
  height: 16px;
  overflow: hidden;
  background-color: #CCC; }

/* next rows of buttons */
.markItUpHeader ul ul ul {
  position: absolute;
  top: -1px;
  left: 150px; }

.markItUpHeader ul ul ul li {
  float: none; }

.markItUpHeader ul a {
  display: block;
  width: 16px;
  height: 16px;
  text-indent: -10000px;
  background-repeat: no-repeat;
  padding: 3px; }

.markItUpHeader ul ul a {
  display: block;
  text-indent: 0;
  width: 120px;
  background-position: 2px 50%; }

.markItUpHeader ul ul a:hover {
  color: #FFF;
  background-color: #000; }

/**
  Icons
*/
.markItUp a {
  width: 16px;
  height: 16px;
  margin: 0 3px;
  margin-bottom: 3px;
  padding: 0 !important;
  background: url(asset_path("textile/textile-sprite.png")) 0 0 no-repeat; }

.markItUp .markItUpButton1 a {
  background-position: 0px 0px; }

.markItUp .markItUpButton2 a {
  background-position: -17px 0px; }

.markItUp .markItUpButton3 a {
  background-position: -34px 0px; }

.markItUp .markItUpButton4 a {
  background-position: -51px 0px; }

.markItUp .markItUpButton5 a {
  background-position: -68px 0px; }

.markItUp .markItUpButton6 a {
  background-position: -85px 0px; }

.markItUp .markItUpButton7 a {
  background-position: -68px -17px; }

.markItUp .markItUpButton8 a {
  background-position: 0px -17px; }

.markItUp .markItUpButton9 a {
  background-position: -17px -17px; }

.markItUp .markItUpButton10 a {
  background-position: -17px -34px; }

.markItUp .markItUpButton11 a {
  background-position: -34px -17px; }

.markItUp .markItUpButton12 a {
  background-position: -51px -17px; }

.markItUp .markItUpButton13 a {
  background-position: -85px -17px; }

.markItUp .markItUpButton14 a {
  background-position: -34px -34px; }

.markItUp .markItUpButton15 a {
  background-position: -51px -34px; }

.markItUp .markItUpButton16 a {
  background-position: -0px -34px; }

/*
*  OVERLAY
*/
.overlayOuter {
  background: white;
  border: 1px solid #fff;
  box-shadow: 0px 3px 7px #333;
  -moz-box-shadow: 0px 3px 7px #333;
  -webkit-box-shadow: 0px 3px 7px #333;
  position: absolute;
  z-index: 99999999;
  min-width: 200px;
  min-height: 50px;
  max-width: 75%;
  position: fixed;
  display: none; }

.overlayInner {
  padding: 20px;
  color: #333;
  text-shadow: 0px 1px 0px #fff; }

.overlayButtons, .overlayInput {
  margin: 20px 10px 0px 10px;
  text-align: center; }

#activity_overlay .overlayInner {
  max-height: 400px;
  overflow-y: auto; }

.overlayInner #issue_history {
  width: 600px; }

div.jGrowl {
  z-index: 9999;
  color: #fff;
  font-size: 12px; }

/** Special IE6 Style Positioning **/
div.ie6 {
  position: absolute; }

div.ie6.top-right {
  right: auto;
  bottom: auto;
  left: expression(( 0 - jGrowl.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
  top: expression(( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' ); }

div.ie6.top-left {
  left: expression(( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
  top: expression(( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' ); }

div.ie6.bottom-right {
  left: expression(( 0 - jGrowl.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
  top: expression(( 0 - jGrowl.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' ); }

div.ie6.bottom-left {
  left: expression(( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
  top: expression(( 0 - jGrowl.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' ); }

div.ie6.center {
  left: expression(( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
  top: expression(( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
  width: 100%; }

/** Normal Style Positions **/
div.jGrowl {
  position: absolute; }

body > div.jGrowl {
  position: fixed; }

div.jGrowl.top-left {
  left: 0px;
  top: 0px; }

div.jGrowl.top-right {
  right: 0px;
  top: 0px; }

div.jGrowl.bottom-left {
  left: 0px;
  bottom: 0px; }

div.jGrowl.bottom-right {
  right: 0px;
  bottom: 0px; }

div.jGrowl.center {
  top: 0px;
  width: 50%;
  left: 25%; }

/** Cross Browser Styling **/
div.center div.jGrowl-notification, div.center div.jGrowl-closer {
  margin-left: auto;
  margin-right: auto; }

div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {
  background-color: #000;
  opacity: .85;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  zoom: 1;
  width: 235px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1em;
  text-align: left;
  display: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

div.jGrowl div.jGrowl-notification {
  min-height: 40px; }

div.jGrowl div.jGrowl-notification,
div.jGrowl div.jGrowl-closer {
  margin: 10px; }

div.jGrowl div.jGrowl-notification div.jGrowl-header {
  font-weight: bold;
  font-size: .85em; }

div.jGrowl div.jGrowl-notification div.jGrowl-close {
  z-index: 99;
  float: right;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer; }

div.jGrowl div.jGrowl-closer {
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
  font-size: .9em;
  font-weight: bold;
  text-align: center; }

/** Hide jGrowl when printing **/
@media print {
  div.jGrowl {
    display: none; } }
/*Themes*/
div.jGrowl div.success {
  opacity: 1;
  border: 1px solid #97c1da;
  color: #264c72;
  background-color: #d0e3ef;
  background-image: -moz-linear-gradient(#d8ebf8, #d0e3ef);
  background-image: -webkit-linear-gradient(#d8ebf8, #d0e3ef);
  background-image: linear-gradient(#d8ebf8, #d0e3ef);
  padding: 9px 35px 10px; }

div.jGrowl div.failure {
  opacity: 1;
  background: #a00;
  border-radius: 4px;
  -webkit-font-smoothing: antialiased;
  border-color: 1px solid #cd504a;
  color: white;
  padding: 9px 35px 10px; }

/*
    Document   : toolbox
    Created on : 2 sept. 2012, 13:30:03
    Author     : nicolas
    Description:
        Purpose of the stylesheet follows.
*/
/*
*  TOOLBOX
*/
ul.toolbox, ul.toolbox ul {
  /* Required settings */
  top: -1000px;
  left: -1000px;
  position: absolute;
  z-index: 999;
  /* Progressive background */
  background: #fff;
  border: 1px solid #CACACA; }
  ul.toolbox li, ul.toolbox ul li {
    width: 150px;
    padding-left: 3px;
    list-style: none none outside;
    overflow: hidden;
    cursor: default; }
    ul.toolbox li a, ul.toolbox ul li a {
      color: #4183c4; }
  ul.toolbox li.separator, ul.toolbox ul li.separator {
    *margin: -1px 0 -5px 0; }
  ul.toolbox li.disabled, ul.toolbox ul li.disabled {
    color: #999999; }
  ul.toolbox li span.submenu, ul.toolbox ul li span.submenu {
    display: block;
    width: 16px;
    height: 16px;
    float: right;
    background: url(asset_path("bullet_arrow_right.png")) no-repeat 0 4px; }
  ul.toolbox li.disabled span.submenu, ul.toolbox ul li.disabled span.submenu {
    background-image: url(asset_path("bullet_arrow_right.png")); }
  ul.toolbox li:hover > a, ul.toolbox ul li:hover > a {
    color: #484848; }
    ul.toolbox li:hover > a .octicon, ul.toolbox ul li:hover > a .octicon {
      color: #484848; }
  ul.toolbox li.hover, ul.toolbox ul li.hover {
    margin-left: -3px;
    border-left: 3px solid #d26911; }

.submenu {
  padding-left: 6px;
  margin-left: 13px; }

.submenu .no-icon {
  margin-left: 20px; }

.form .box {
  border: inherit; }

/*
*  FORM
*/
.form p {
  margin: 0;
  padding: 3px 0 3px 0;
  padding-left: 180px;
  /* width of left column containing the label elements */
  min-height: 1.8em;
  clear: left; }

fieldset.settings {
  width: 98% !important;
  margin-left: 10px !important;
  padding: 3px 3px 3px 10px !important; }

.form fieldset {
  margin: 0;
  padding: 3px 0 3px 0;
  margin-left: 180px;
  /* width of left column containing the label elements */
  min-height: 1.8em;
  width: 89%;
  clear: left; }

html > body .form p {
  overflow: hidden; }

.form label {
  font-weight: bold;
  float: left;
  text-align: right;
  /* width of left column */
  margin-left: -180px;
  /* width of labels. Should be smaller than left column to create some right margin */
  width: 175px; }

.normal_label {
  font-weight: normal !important;
  float: none !important;
  text-align: inherit !important;
  margin-left: 0px !important;
  width: 0px !important; }

/*
*  HEADER CONTENT
*/
#header {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #e5e5e5;
  background-color: white; }

#header h1 {
  vertical-align: middle;
  color: #484848;
  margin: 0px;
  padding: 32px 50px; }

#main {
  margin: 15px 15px 0px 15px; }

/*
*  MAIN CONTENT
*/
#main.nosidebar #content {
  width: auto;
  float: inherit; }

#sidebar {
  float: right;
  width: 15%;
  position: relative;
  z-index: 9;
  padding: 0;
  margin: 0; }

#content {
  float: left;
  color: #484848;
  padding: 6px 10px 10px 10px;
  z-index: 10;
  width: 82%;
  text-align: justify; }

#content h1 {
  font-size: 20px;
  padding: 2px 10px 1px 0px;
  margin: 0 0 10px 0;
  color: #484848; }

#contextual {
  background: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
  margin: -7px -10px 10px;
  border-bottom: 1px solid #e5e5e5; }

#content h2 {
  font-size: 16px;
  padding: 2px 10px 1px 0px;
  margin: 0 0 10px 0; }

#content h3 {
  font-size: 14px;
  padding: 2px 10px 1px 0px;
  margin: 0 0 10px 0;
  color: #444; }

#content p {
  margin: 10px; }

#footer {
  clear: both;
  font-size: 0.8em;
  padding: 5px;
  text-align: center;
  margin: 10px;
  color: #AAA; }

#content li {
  font-size: 12px; }

.separator {
  margin: 10px -10px;
  border-bottom: 1px solid #DADEE5; }

.no-margin {
  margin: 0px !important; }

.no-padding_left {
  padding-left: 0px !important; }

.no-height {
  height: inherit !important; }

.clear-both {
  clear: both; }

.help {
  border: 1px solid #97c1da;
  border-radius: 4px;
  color: #264c72;
  background-color: #d0e3ef;
  background-image: -moz-linear-gradient(#d8ebf8, #d0e3ef);
  background-image: -webkit-linear-gradient(#d8ebf8, #d0e3ef);
  background-image: linear-gradient(#d8ebf8, #d0e3ef);
  padding: 4px; }

/*
*  FLASH MESSAGE
*/
.flash {
  padding: 9px 35px 10px; }

.flash:hover .close_flash {
  opacity: 1; }

.flash ul {
  margin: 0;
  padding: 0; }

.flash.alert {
  background: #a00;
  border-radius: 4px;
  -webkit-font-smoothing: antialiased;
  border-color: 1px solid #cd504a;
  margin-bottom: 2px;
  color: white; }
  .flash.alert .octicon {
    color: white; }

.flash.notice {
  border: 1px solid #97c1da;
  border-radius: 4px;
  color: #264c72;
  background-color: #d0e3ef;
  background-image: -moz-linear-gradient(#d8ebf8, #d0e3ef);
  background-image: -webkit-linear-gradient(#d8ebf8, #d0e3ef);
  background-image: linear-gradient(#d8ebf8, #d0e3ef);
  margin-bottom: 2px; }
  .flash.notice .octicon {
    color: #97c1da; }

.close_flash {
  float: right;
  opacity: 0.8;
  text-decoration: none;
  margin-top: 1px;
  cursor: pointer; }

.disabled {
  background-color: #cfcfcf;
  color: #AAA; }

.text-alert {
  color: #bd2c00; }
  .text-alert .octicon {
    color: #bd2c00; }
  .text-alert .octicon:hover {
    color: #bd2c00; }

/*
* Split content
*/
.splitcontentright {
  float: right;
  width: 49%; }

.splitcontentright.box {
  width: 48%;
  background-color: #FCFCFC; }

.splitcontentleft {
  float: left;
  width: 49%; }

/*
*  CONTEXTUAL
*/
#contextual .splitcontentright {
  text-align: right;
  margin-top: -28px; }

/*
  BOXES
*/
.box {
  padding: 6px;
  margin: 10px;
  line-height: 1.5em;
  border: 1px solid #e4e4e4; }

.box_notes {
  color: #505050;
  border: 1px solid #e4e4e4; }

.right {
  float: right;
  margin-right: 5px;
  margin-top: 5px; }

.box > .header {
  background: #e6f1f6;
  color: #3a505b;
  padding-top: 5px;
  text-align: center;
  margin: -6px -6px 10px;
  border-bottom: 1px solid #DADEE5; }

.box .header h2, .box .header h1 {
  color: #3a505b !important; }

.edit_note {
  padding: 6px;
  margin: 10px; }

.slim {
  line-height: normal;
  font-size: 12px; }

.chzn-container:focus {
  border: 1px solid #e4e4e4;
  outline: none; }

/*
*  AJAX loading
*/
#loading {
  width: 170px;
  height: 50px;
  position: fixed;
  top: 200px;
  left: 45%;
  display: none;
  background-color: #E5E3DE;
  border: 1px solid #D7D7D7;
  box-shadow: 0 0 3px #CCC;
  -webkit-box-shadow: 0 0px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px #ccc;
  color: #888; }

#loading p {
  text-align: center; }

/*
* CHECKLIST
*/
#checklist {
  min-width: 400px;
  max-width: 800px;
  padding-bottom: 55px;
  color: #888;
  min-height: 130px;
  max-height: 400px;
  overflow-y: scroll; }

ul.checklist {
  list-style: none; }

ul.checklist .started {
  color: #FFC773; }

ul.checklist .new {
  color: #9B4D4D; }

ul.checklist .finish {
  color: #3E7C3E; }

ul#items {
  list-style: none;
  margin-left: -35px;
  min-width: 400px; }

/*
*  jQuery UI
*/
.ui-widget-content a, .ui-widget-content a:link, .ui-widget-content a:visited {
  color: #888;
  text-decoration: none; }

.ui-widget-content a:hover, .ui-widget-content a:visited:hover {
  color: #FFC773; }

/*
*  FILTER
*/
#filter_content td {
  display: inline-block; }

#filter_content td.label {
  width: 10%; }

#filter_content td.radio {
  width: 40%; }

#filter_content td.value {
  width: 48%; }

#filter_content {
  width: 100%;
  padding: 6px;
  margin-bottom: 10px;
  color: #505050;
  line-height: 1.5em;
  border: 1px solid #E4E4E4;
  /*   -webkit-border-radius: 5px;*/
  /*   border-radius: 5px;*/ }

/*
  PROGRESS BAR
*/
.roadmap .progress_bar {
  height: 20px; }

.progress_bar {
  position: relative;
  display: block;
  overflow: hidden;
  background-color: #eee;
  border-radius: 3px;
  height: 20px; }
  .progress_bar .progress {
    height: 20px;
    display: block;
    background-color: #65bd10;
    background-image: -moz-linear-gradient(#8dcf16, #65bd10);
    background-image: -webkit-linear-gradient(#8dcf16, #65bd10);
    background-image: linear-gradient(#8dcf16, #65bd10);
    background-repeat: repeat-x; }
  .progress_bar .percent {
    position: absolute;
    top: 0px;
    left: 7px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7); }

/**
  History
*/
.history_block {
  border-top: 1px solid #e5e5e5;
  padding-top: 30px;
  padding-bottom: 30px; }

/*
* PROJECTS
*/
ul.project_list {
  list-style-type: none; }
  ul.project_list > li {
    margin: 0px 30px 30px -15px !important;
    border-bottom: 1px solid #e5e5e5; }
    ul.project_list > li > a {
      font-size: 20px; }
    ul.project_list > li ul.project_stats {
      position: relative;
      float: right;
      list-style-type: none; }
      ul.project_list > li ul.project_stats li {
        float: left; }
    ul.project_list > li p.project_last_activity {
      font-size: 12px;
      padding-bottom: 20px; }
    ul.project_list > li div.star_project {
      position: relative;
      margin-top: -30px;
      float: right; }

#project_description {
  min-height: 400px; }

.version_overview h1 {
  float: left; }
.version_overview .version_due_date {
  float: right; }
.version_overview .requests_stats {
  float: left;
  margin-top: 10px; }
.version_overview .over_run {
  float: right;
  margin-top: 10px; }

/*
   CALENDAR
*/
#calendar_header {
  border: 1px solid #CACACA;
  text-align: center;
  background-color: whitesmoke; }

#calendar_body {
  padding: 0;
  width: 100%; }

#calendar .li_calendar_item {
  list-style-type: none;
  float: left;
  display: inline-block;
  padding: 0;
  width: 10%;
  min-height: 131px; }

#spent_time .li_calendar_item {
  width: 14%;
  min-height: 201px; }

.calendar_item {
  height: 130px;
  margin-right: -1px;
  border: 1px solid #CACACA; }

#spent_time .calendar_item {
  height: 200px; }

.calendar_item .calendar_item_header {
  background-color: whitesmoke;
  height: 20px;
  border-bottom: 1px solid #CACACA;
  margin: 0; }

.calendar_item .calendar_item_body {
  height: 110px;
  margin: 0; }

#spent_time .calendar_item .calendar_item_body {
  height: 160px; }

.calendar_item .calendar_item_body ul {
  padding: 0px;
  height: 95%;
  overflow-x: auto; }

.calendar_item .calendar_item_bottom {
  border-top: 1px solid #CACACA; }

.calendar_item .calendar_item_body li {
  list-style-type: none;
  padding: 5px;
  margin: 2px;
  border: 1px solid #bbb;
  text-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 2px #ccc;
  -moz-box-shadow: 0 1px 2px #ccc;
  -webkit-box-shadow: 0 1px 2px #ccc;
  border: 1px solid #bbb;
  color: #888;
  text-decoration: none;
  background-color: #EEF0F3; }

#calendar .odd_even:nth-child(odd) .calendar_item_body li {
  background-color: white; }

#calendar .odd_even:nth-child(odd) {
  background: #F1F5FA; }

.calendar_item .calendar_item_body p {
  margin: 0px 5px 0px 5px !important;
  padding-top: 10px; }

.calendar_item .calendar_item_body.target {
  background-color: #E1E0DC;
  cursor: pointer; }

.calendar_item .calendar_item_body.today {
  background-color: #D7D7D7; }

.calendar_item_left {
  width: 45%;
  float: left; }

.calendar_item_right {
  float: right; }

/*
   ISSUES
*/
.toggle.right {
  float: right;
  height: 15px; }

/*
    WIKI
*/
#organize_pages li {
  padding: 5px;
  margin: 5px; }

#organize_pages ul {
  min-height: 40px;
  border: 1px dashed #D7D7D7;
  margin: 10px; }

#organize_pages ul.trash {
  margin: 0px;
  padding: 0px; }

/*
    MY
*/
.my .issue.list td.project, td.assigned_to {
  width: 10%; }

/*
    Log time
*/
#spent_time_overlay_content {
  width: 700px; }
