<%#
# Author: Nicolas Meylan
# Date: 15 août 2012
# Encoding: UTF-8
# File: _categories_list.html.erb
%>

<div id="categories_content">
  <table class="category list">
    <tr class="header">
      <th>Name</th>
      <th></th>
    </tr>
    <% @categories.each do |category| %>
      <tr class="odd_even">

        <td class="list_center name">
          <% if current_user.allowed_to?('edit','Categories',@project) %>
            <%= link_to_with_permissions(category.name, edit_category_path(@project.slug, category.id), @project) %>
          <% else %>
            <%= category.name %>
          <% end %>
        </td>
        <td class="action">
          <%= link_to_with_permissions(t(:link_delete), 
            category_path(@project.slug, category.id), 
            @project, 
            {:method => :delete, 
              :target => 'self',
              :html => {:class => 'icon icon-del', 
                :onclick => "button_delete('#{ category_path(@project.slug, category.id)}')"}}) %>

        </td>
      </tr>
    <%end%>
  </table>
</div>