<%#
# Author: Nicolas Meylan
# Date: 1 mars 2013
# Encoding: UTF-8
# File: _my_activities.erb
%>
<% activities.each do |activity| %>
  <b><%= "#{distance_of_time_in_words(activity.created_at, Time.now).capitalize} #{t(:label_ago)}" %></b>
  <%= raw activities_text_builder(activity) %>
  <ul style="margin-left:30px">
    <% activity.details.each do |detail| %>
      <%= raw history_detail_render(detail) %>
    <% end %>
  </ul>
  <% if !activity.notes.nil? && !activity.notes.eql?('') %>
    <div class="box_notes" style="margin-left:30px">
      <%= raw textile_to_html(activity.notes) %>
    </div>
  <% end %>

  <% unless activity.eql?(activities.last) %>
    <hr/>
  <% end %>
  <%# end %>
<% end %>
