<%#
# Author: Nicolas Meylan
# Date: 21 févr. 2013
# Encoding: UTF-8
# File: projects.erb
%>

<div class="contextual">
  <h1><%= t(:link_my_projects) %></h1>

</div>
<em>Drag and drop projects to order. <br/>Click on star to add project as favorite.</em>
<%= render :partial => 'projects/list', :locals => {:allow_to_star => true, :projects => projects} %>
<%= render :partial => 'my/sidebar'  %>