<%#
# Author: Nicolas Meylan
# Date: 05 oct. 2013
# Encoding: UTF-8
# File: my_spent_time.erb
%>
<%= render :partial => 'my/sidebar' %>
<%= contextual t(:label_calendar) %>
<div id="spent_time">
  <div id="calendar">
    <%= render :partial => 'my/calendar' %>
  </div>
</div>