<%#
Author : Nicolas Meylan
Date: 30 août 2013 
Encoding: UTF-8
File: my_assigned_requests
%>

<%= render :partial => 'my/sidebar' %>
<%= contextual t(:link_my_submited_requests) %>
<% if issues %>
    <div class="my">
      <%= render :partial => 'my/submitted_requests', :locals => {:issues => issues} %>
    </div>
<% else %>
<% end %>