<%#
# Author: Nicolas Meylan
# Date: 30 sept. 2012
# Encoding: UTF-8
# File: _list.html.erb
%>
<div id="members_content">
  <%= @members.display_collection %>
  <%= render :partial => 'members/add_overlay', :locals => {:roles => @members.context[:role], :users => users} %>
</div>
